$block-class: 'addressee';

@at-root {
    .#{$block-class} {
        border: 2px solid $LIGHT_GREEN;
        border-radius: 3px;
        padding: 3px 9px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 8px;
        margin-top: 4px;

        &__delete-icon {
            display: block;
            margin-left: 4px;
            fill: $FONT_COLOR;

            &:hover {
                fill: darken($FONT_COLOR, 10);
            }
        }
    }
}
