$block-class: 'button-panel';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 2px solid $BORDER_COLOR;
        border-radius: 4px;
        overflow: hidden;

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            overflow: hidden;

            &:not(:first-child) {
                border-left: 1px solid $BORDER_COLOR;
            }
        }
    }
}
