$block-class: 'collapsed-message';

@at-root {
    .#{$block-class} {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        background-color: $PAGE_BACKGROUND_COLOR;
        padding: 0.5em 1em;
        border-bottom: 1px solid $BORDER_COLOR;
        cursor: pointer;

        &__from {
            @extend .small-font;

            display: flex;
            justify-content: space-between;
        }

        &__body {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
