$block-class: "collapsed-message";

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        padding: 0.5em 1em;
        border-bottom: 1px solid $BORDER_COLOR;
        background-color: $PAGE_BACKGROUND_COLOR;
        cursor: pointer;

        &__from {
            @extend .small-font;

            display: flex;
            justify-content: space-between;
        }

        &__body {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
