$block-class: 'inbox-tabs';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__tab {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1em;
            border-bottom: 3px solid transparent;
            padding-bottom: 1em;

            &--active {
                border-color: $LIGHT_GREEN;
                color: $LIGHT_GREEN;

                .#{$block-class}__icon {
                    fill: $LIGHT_GREEN;
                }
            }
        }

        &__icon--inbox {
            margin-right: 4px;
        }

        &__icon--archive {
            fill: #7e848f;
        }
    }
}
