$block-class: 'inbox-tabs';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__tab {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1em;
            padding-bottom: 0.25em;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &--active {
                border-color: $PRIMARY_GREEN;
                color: $PRIMARY_GREEN;

                .#{$block-class}__icon {
                    fill: $PRIMARY_GREEN;
                }
            }
        }

        &__icon--inbox {
            margin-right: 4px;
            fill: $STEEL_GRAY;
        }

        &__icon--archive {
            fill: $STEEL_GRAY;
        }
    }
}
