$block-class: "inbox-message-list";

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        background-color: $WHITE;
        cursor: pointer;

        &__header {
            @extend .lead-font;

            .#{$block-class}__from {
                position: relative;
                left: 10px;
            }

            display: flex;
            padding: 14px 16px;
            background-color: $LIGHT_GRAY;
            color: $HEADER_FONT_COLOR;
            cursor: default;
            box-shadow: none;
        }

        &__entry {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 16px;

            @extend .lead-font;

            &:hover {
                background-color: $LIGHTEST_GRAY;
            }

            &:last-child {
                box-shadow: none;
            }
        }

        &__entry--empty {
            justify-content: center;
            cursor: default;
        }

        &__unread-indicator {
            width: 6px;
            height: 6px;
            margin-right: 6px;
            border-radius: 50%;

            &--unread {
                background-color: $KALE_GREEN;
            }
        }

        &__from {
            display: flex;
            flex: 1;
            align-items: center;
        }

        &__subject {
            flex: 2;
        }

        &__date {
            flex: 1;
        }

        &__actions {
            display: flex;
            flex-basis: 5em;
            align-items: center;
            justify-content: flex-end;
        }

        &__action-icon {
            flex: 1;
            fill: $PRIMARY_GREEN;
        }
    }
}
