$block-class: 'inbox';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        margin-top: 5em;

        &__title {
            @extend .x-large-font;

            margin-bottom: 1em;
        }

        &__top-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__new-message-button {
            @extend .secondary-button;
        }

        &__filter {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 1.5em 0;
        }

        &__pager {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__pager-content {
            display: flex;
            justify-content: center;
            align-items: baseline;
            border: 1px solid $border-color;
            background-color: #fff;
        }

        &__page {
            padding: 4px 8px;
            border: 1px solid $border-color;
            text-align: center;
        }

        &__pager-button {
            @extend button;
        }
    }
}
