$block-class: 'message-container';

@at-root {
    .#{$block-class} {
        @extend .med-font;

        min-width: 600px;
        margin-top: 4em;

        &__back {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__back-link {
            @extend .large-font;

            display: flex;
            align-items: center;
            color: $header-font-color;
        }

        &__back-icon {
            fill: #7e848f;
            height: 16px;
        }
    }
}
