$block-class: 'message';

@at-root {
    .#{$block-class} {
        margin-top: 1em;

        &--active {
            border: 2px solid $LIGHT_GREEN;
            border-radius: 4px;
        }

        &--compose {
            margin-bottom: 1em;
        }

        &__content {
            @extend .table-full;

            padding: 0.5em 1em;
        }

        &__row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5em 0;
            border-bottom: 1px solid $BORDER_COLOR;
        }

        &__timestamp {
            font-size: 14px;
            font-weight: 400;
        }

        &__body-actions {
            display: flex;
            justify-content: flex-end;
            padding-top: 1em;
        }

        &__action-icon {
            @extend .small-icon;
        }

        &__body-field-wrapper {
            display: flex;
            min-height: 8em;
        }

        &__body-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 0.5em;
            border-radius: 2px;
        }

        &__body-cancel-button {
            @extend .secondary-button;
        }

        &__body-send-button {
            @extend .button;
        }

        &__body-timestamp {
            margin-top: 1em;
        }

        &__inline-reply {
            min-height: 8em;
            padding: 0.5em 1em;
            background-color: $WHITE;
            color: $FONT_COLOR;
            cursor: pointer;
        }
    }
}
