$block-class: "message-field";

@at-root {
    .#{$block-class} {
        @extend .med-font;

        display: flex;
        flex: 1;
        flex-direction: row;

        &__label {
            margin-right: 1em;
        }

        &__value {
            flex: 1;
            border: none;
            outline: none;

            &:-webkit-autofill,
            :-webkit-autofill:hover,
            :-webkit-autofill:focus,
            :active,
            :focus {
                transition: background-color 5000s ease-in-out 0s;
                background-color: $WHITE;
            }

            &--error {
                outline: 2px solid $ERROR_RED;
            }
        }
    }
}
