$block-class: 'message';

@at-root {
    .#{$block-class} {
        @extend .med-font;

        min-width: 600px;
        margin-top: 4em;

        &__back {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1em;
        }

        &__back-link {
            @extend .large-font;

            display: flex;
            align-items: center;
            color: $header-font-color;
        }

        &__back-icon {
            fill: #7e848f;
            height: 16px;
        }

        &__content {
            background-color: white;
            padding: 0.5em 1em;
            border-bottom: 1px solid $border-color;
        }

        &__row {
            border-bottom: 1px solid $border-color;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5em 0;
        }

        &__timestamp {
            font-weight: 600;
        }

        &__body-actions {
            display: flex;
            justify-content: flex-end;
            padding-top: 1em;
        }

        &__action-icon {
            fill: #7e848f;
            flex: 1;
        }

        &__body-field-wrapper {
            min-height: 8em;
            display: flex;
        }

        &__body-timestamp {
            margin-top: 1em;
        }

        &__inline-reply {
            min-height: 8em;
            background-color: white;
            padding: 0.5em 1em;
        }
    }
}
