$block-class: 'to-field';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &__search-wrapper {
            position: relative;
            top: -12px;
            margin-bottom: -24px;
        }
    }
}
