$block-class: 'filtered-list';

@at-root {
    .#{$block-class} {
        border: 1px solid $border-color;
        height: 100%;
        overflow-x: scroll;

        &__query,
        .grommet &__query:not(.grommetux-input) {
            display: flex;
            margin: 1em;
            width: 90%;
        }

        .grommetux-list--selectable .grommetux-list-item--selected:hover {
            background-color: #a0d6b5;
        }
    }
}
