$block-class: "select-group-users";

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        min-width: 800px;
        color: $HEADER_FONT_COLOR;

        &__group-name-input {
            margin: 0;
            padding: 11px;
            border: 2px solid $BORDER_COLOR;
            border-radius: 4px;
            outline: none;
            background-color: transparent;
            color: inherit;
            line-height: 1.5;
        }

        &__wrapper {
            display: flex;
        }

        &__group-user-list {
            flex: 1;
            margin: 1em;
        }

        &__non-group-user-list {
            flex: 1;
            margin: 1em;
        }

        &__buttons {
            display: flex;
            top: 350px;
            left: 408px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 2px;
            cursor: pointer;
        }
    }
}
