$block-class: 'select-group-users';

@at-root {
    .#{$block-class} {
        min-width: 800px;
        display: flex;
        flex-direction: column;
        color: $HEADER_FONT_COLOR;

        &__group-name-input {
            line-height: 1.5;
            padding: 11px;
            border: 1px solid #e6e6e6;
            border-radius: 4px;
            outline: none;
            background-color: transparent;
            color: inherit;
            margin: 0;
        }

        &__wrapper {
            display: flex;
        }

        &__group-user-list {
            flex: 1;
            margin: 1em;
        }

        &__non-group-user-list {
            flex: 1;
            margin: 1em;
        }

        &__buttons {
            display: flex;
            margin-bottom: 2px;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            align-items: center;
            top: 350px;
            left: 408px;
        }
    }
}
