$block-class: 'reset-password-form';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 2em;

        &__instructions {
            @extend .large-font;

            margin-bottom: 16px;
        }

        &__input {
            @include text-input;

            width: 384px;
            margin-bottom: 16px;

            &--flag {
                border: 1px solid $error-color;
            }
        }

        &__button {
            @extend .button;

            width: 100%;
            margin-bottom: 16px;
        }
    }
}
