$block-class: 'reset-password-form';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 2em;

        &__instructions {
            @extend .large-font;

            margin-bottom: 16px;
        }

        &__password {
            @include text-input;
        }

        &__button {
            @extend .button;
        }
    }
}
