$block-class: 'reset-password';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__ui-message {
            &--flag {
                color: $error-color;
            }
        }
    }
}
