$block-class: "filter-input";

@at-root {
    .#{$block-class} {
        display: flex;
        position: relative;
        align-items: center;
        color: $HEADER_FONT_COLOR;

        @extend .small-font;

        &__input {
            flex: 1;

            @include text-input;
        }

        &__icon {
            @extend .small-icon;

            position: absolute;
            top: 1em;
            right: 0.5em;
        }

        &__list {
            background-color: $PRIMARY_GRAY;
        }

        &__entry {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 8px 16px;

            @extend .lead-font;

            &:hover {
                background-color: $PRIMARY_GRAY;
            }
        }
    }
}
