$element-background: #f3f5f6;
$search-input-background: #fff;

$block-class: 'filter-input';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: center;
        position: relative;
        color: $lead-font-color;

        @extend .small-font;

        &__icon {
            @extend .small-icon;

            position: absolute;
            right: 0.5em;
            top: 0.2em;
        }

        &__list {
            background-color: #fdfdfd;
        }

        &__input {
            color: #909da7;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 1px solid #e6edef;
            border-radius: 1px;

            &:focus {
                border: 2px solid #4eb276;
                outline: none;
                margin-bottom: -2px;
            }
        }

        &__entry {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 8px 16px;

            @extend .lead-font;

            &:hover {
                background-color: #ededed;
            }
        }
    }
}
