$block-class: 'filter';

@at-root {
    .#{$block-class} {
        display: flex;
        justify-content: center;

        &:not(&--no-space) {
            margin-left: -8px;

            .#{$block-class}__button {
                margin-left: 14px;
            }
        }

        &__button {
            // all projects menu list, do not have regular button here.
            @extend .small-font;

            text-align: center;
            display: flex;
            align-items: center;
            padding: 8px 16px;
            border: 2px solid $BORDER_COLOR;
            background-color: $PAGE_BACKGROUND_COLOR;
            border-radius: 500px;
            cursor: pointer;

            &--active {
                background-color: $HOVER_GREEN;
                color: $FONT_INVERSE_COLOR;
                border-color: transparent;
            }

            &:hover:not(&--active) {
                background-color: $LIGHT_GRAY;
                color: $HEADER_FONT_COLOR;
            }
        }
    }
}
