$block-class: 'filter';
$filter-background: #fff;

@at-root {
    .#{$block-class} {
        display: flex;
        justify-content: center;

        &:not(&--no-space) {
            margin-left: -8px;

            .#{$block-class}__button {
                margin-left: 8px;
                border-radius: 3px;
            }
        }

        &--no-space &__button {
            &:not(:last-child) {
                border-width: 1px 0 1px 1px;
            }

            &:last-child {
                border-width: 1px;
                border-radius: 0 2px 2px 0;
            }

            &:first-child {
                border-radius: 2px 0 0 2px;
            }
        }

        &__button {
            // all projects menu list, do not have regular button here.
            @extend .small-font;

            text-align: center;
            display: flex;
            align-items: center;
            padding: 4px 8px;
            border: 1px solid $BORDER_COLOR;
            background-color: $filter-background;
            cursor: pointer;

            &--active {
                background-color: $HOVER_GREEN;
                color: $FONT_INVERSE_COLOR;
                border-color: transparent;
            }

            &:hover:not(&--active) {
                background-color: darken(#fafafa, 5%);
                color: $HEADER_FONT_COLOR;
            }
        }
    }
}
