$block-class: 'flag-count';

@at-root {
    .#{$block-class} {
        position: relative;

        &__icon {
            position: absolute;
            fill: $header-font-color;
            width: 3em;
            height: 3em;
        }

        &__value {
            position: absolute;
            top: 0;
            left: 24px;
            width: 18px;
            height: 18px;
            color: $font-inverse-color;
            background-color: $brand-color;
            border-radius: 50%;
            font-size: 12px;
            text-align: center;
            line-height: 18px;
        }
    }
}
