$title-color: #333;
$block-class: 'message-list';

@at-root {
    .#{$block-class} {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
        min-height: 220px;
        border-bottom: 1px solid $border-color;

        &__title {
            justify-content: space-between;
            border-bottom: 1px solid $border-color;
            display: flex;
            padding: 12px;
            font-size: 18px;
            color: $title-color;
        }

        &__title-link {
            font-size: 15px;
            margin-right: 32px;
        }

        &__row {
            height: 3em;
            padding-left: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #fff;
            border-bottom: 1px solid $border-color;

            &--unread {
                .#{$block-class}__unread-indicator {
                    background-color: $brand-color;
                }

                .#{$block-class}__name,
                .#{$block-class}__subject,
                .#{$block-class}__time {
                    color: #333;
                    font-weight: 500;
                }
            }

            &:hover {
                background-color: darken(#fafafa, 2%);
            }
        }

        &__unread-indicator {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin-right: 6px;
        }

        &__name {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
            color: $title-color;
        }

        &__subject {
            flex: 3;
            font-size: 15px;
            color: $title-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__time {
            font-size: 15px;
            flex: 1;
            color: $title-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
