$block-class: 'message-list';

@at-root {
    .#{$block-class} {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
        min-height: 220px;
        border: 2px solid $BORDER_COLOR;
        border-radius: 4px;
        margin-top: 64px;

        &__title {
            justify-content: space-between;
            background: $LIGHT_GRAY;
            border: 2px solid $BORDER_COLOR;
            display: flex;
            padding: 8px;
            font-size: 18px;
            color: $HEADER_FONT_COLOR;
        }

        &__title-link {
            @extend .secondary-button;
        }

        &__title-header {
            color: $HEADER_FONT_COLOR;
            padding: 8px;
        }

        &__row {
            height: 3em;
            padding-left: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: $WHITE;

            &--unread {
                .#{$block-class}__unread-indicator {
                    background-color: $FERN_GREEN;
                }

                .#{$block-class}__name,
                .#{$block-class}__subject,
                .#{$block-class}__time {
                    color: $DARK_GRAY;
                    font-weight: 500;
                }
            }

            &:hover {
                background-color: $LIGHTEST_GREEN;
            }
        }

        &__unread-indicator {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin-right: 6px;
        }

        &__name {
            @extend .lead-font;

            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__subject {
            @extend .lead-font;

            flex: 2;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__time {
            @extend .lead-font;

            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
