$block-class: 'search-input';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: center;
        position: relative;
        color: $lead-font-color;

        @extend .small-font;

        &__input,
        .grommet &__input:not(.grommetux-input) {
            flex: 1;
            border: 2px solid #e6edef;
            border-radius: 2px;
            background-color: $element-background;
            padding: 8px;

            &:focus,
            &:active {
                border: 2px solid $brand-color;
                outline: none;
            }
        }

        &__icon {
            @extend .small-icon;

            position: absolute;
            right: 0.5em;
        }
    }
}
