$block-class: 'search';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: center;
        position: relative;

        @extend .small-font;

        &__hint {
            font-style: italic;
            font-size: 11px;
        }

        &__input {
            flex: 1;

            @include text-input;
        }

        &__icon {
            @extend .small-icon;

            position: absolute;
            right: 0.5em;
        }

        &__list {
            z-index: 20;
            position: absolute;
            width: 75%;
            margin-left: 0;
            background-color: $LIGHT_GRAY;
        }

        &__entry {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 8px 16px;

            @extend .small-font;

            &:hover {
                background-color: $LIGHTEST_GRAY;
            }
        }
    }
}
