$block-class: 'search-input';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: center;
        position: relative;

        &__input,
        .grommet &__input:not(.grommetux-input) {
            flex: 1;
            padding: 0.5rem 1rem;
            margin: 0.5rem;
            border: 1px solid $border-color;
            border-radius: 1px;
        }

        &__icon {
            fill: $header-font-color;
            position: absolute;
            right: 0.5em;
        }
    }
}
