$block-class: "search";

@at-root {
    .#{$block-class} {
        display: flex;
        position: relative;
        align-items: center;

        @extend .small-font;

        &__hint {
            font-size: 11px;
            font-style: italic;
        }

        &__input {
            flex: 1;

            @include text-input;
        }

        &__icon {
            @extend .small-icon;

            position: absolute;
            top: 1em;
            right: 0.5em;
        }

        &__list {
            position: absolute;
            width: 78%;
            margin: 0;
            padding: 0;
            background-color: $LIGHT_GRAY;
            z-index: 20;
        }

        &__entry {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 8px 16px;
            border-width: 2px 2px 0 2px;
            border-style: solid;
            border-color: $BORDER_COLOR;
            cursor: pointer;

            @extend .small-font;

            &:hover {
                background-color: $LIGHTEST_GRAY;
            }

            &:last-child {
                border-bottom-width: 2px;
            }
        }
    }
}
