$block-class: 'split-layout';

@at-root {
    .#{$block-class} {
        display: flex;

        &__child {
            flex: 1;
            border-width: 0 1px 1px;
            border-color: $PAGE_BACKGROUND_COLOR;
            border-style: solid;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}
