$block-class: 'split-layout';

@at-root {
    .#{$block-class} {
        display: flex;

        &__child {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}
