$block-class: 'stamp';

@at-root {
    .#{$block-class} {
        flex: 1;
        border: 2px solid $LIGHT_GRAY;
        border-radius: 50%;
        margin: 0 8px;
        position: relative;
        max-width: 128px;
        min-width: 100px;

        &--bad {
            border-color: $ERROR_RED;
            color: $ERROR_RED;
        }

        &--good {
            border-color: $LIGHT_GREEN;
            color: $LIGHT_GREEN;
        }

        &--neutral {
            border-color: $LIGHT_GRAY;
            color: $LEAD_FONT_COLOR;
        }

        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
        }

        &__value {
            font-size: 48px;
            line-height: 48px;
            font-weight: 300;
        }

        &__label {
            font-size: 14px;
        }
    }
}
