$block-class:'stage-form';

@mixin stage-header {
    &-header {
        @extend .stage-font-bold;

        margin: 8px 0 16px;

        &--flag {
            color: $ERROR_RED !important;
        }
    }
}

@at-root {
    .#{$block-class} {
        @include multi-select-styles;

        color: $HEADER_FONT_COLOR;
        padding: 16px 24px 26px;

        &__input-field {
            border-radius: 4px;
            width: 100%;

            &--flag {
                border-color: $ERROR_RED !important;
            }
        }

        &__title {
            @include stage-header;
        }

        &__group {
            @include stage-header;

            margin-bottom: 16px;
        }

        &__activities {
            @include stage-header;

            padding: 8px 8px 8px 8px;
            border-radius: 4px;
            border: 2px solid $BORDER_COLOR;
        }

        &__radio-control {
            margin: 8px 16px;
        }

        &__date {
            @include stage-header;

            margin: 8px 0 16px;
        }

        &__icon {
            color: $FONT_COLOR;
            opacity: 0.6;
            margin: 0 8px 8px 8px;
        }

        &__permission-label-text {
            @extend .lead-font;

            margin: 16px 16px 16px 8px;

            &--disabled {
                color: $DISABLED_FONT_COLOR;
            }
        }

        &__text-description {
            @extend .med-font;

            margin: 8px 16px 8px 16px;
        }

        &__date-input-div {
            // edit spacing on the date range picker
        }

        &__select {
            display: flex;
            justify-content: space-between;
        }

        &__clear {
            clear: both;
        }

        &__divider {
            @extend .divider;

            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
}
