$block-class:'stage-form';

@at-root {
    .#{$block-class} {
        color: $LEAD_FONT_COLOR;
        padding: 24px 24px 32px;

        &__input-field {
            border-radius: 2;
            width: 100%;
        }

        &__title {
            margin-bottom: 24px;
            color: $DARK_GRAY;

            &-label {
                color: $FONT_COLOR;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
            }
        }

        &__group {
            margin-bottom: 24px;

            &-name {
                color: $FONT_COLOR;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
            }
        }

        &__activities {
            margin-bottom: 8px;

            &-label {
                color: $FONT_COLOR;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
            }
        }

        &__radio-control {
            margin-top: 8px;
        }

        &__date {
            padding: 8px 16px;

            &-label {
                color: $FONT_COLOR;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
            }
        }

        &__permission-label-text {
            color: $DARK_GRAY;
            font-size: 16px;
            font-weight: 400;
            margin-left: 8px;
            margin-right: 16px;
        }

        &__text-description {
            margin-left: 24px;
            color: $DARK_GRAY;
            font-size: 16px;
        }

        &__date-input-div {
            margin-left: 16px;
        }

        &__select {
            display: flex;
            justify-content: space-between;
        }

        &__clear {
            clear: both;
        }

        &__divider {
            @extend .divider;

            margin-top: 16px;
            margin-bottom: 16px;
        }

        .Select--multi .Select-value {
            color: $DARK_GRAY;
            background-color: #f1f4f7;
            border: 1px solid  nth($BRAND_NEUTRAL_COLORS, 2);
        }

        .Select--multi .Select-value-label {
            font-size: 14px;
            padding: 2px;
            color: #333;
        }

        .Select-option.is-focused {
            background-color: #f1f4f7;
        }
    }
}
