$font-color-for-labels: #757575;
$block-class:'account-tab';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        padding: 2em;

        &__label {
            color: $font-color-for-labels;
            font-weight: 400;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            padding-bottom: 1em;
        }

        &__field {
            @extend .basic-input;
        }

        &__date {
            color: $lead-font-color;
        }

        button.account-tab__button {
            @extend .button;
        }
    }
}
