$block-class:'account-tab';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        padding: 2em;

        &__label {
            color: $DARK_GRAY;
            font-weight: 400;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            padding-bottom: 1em;
        }

        &__field {
            @include text-input;
        }

        &__date {
            color: $DARK_GRAY;
        }

        button.account-tab__button {
            @extend .button;
        }
    }
}
