$block-class: 'add-subject-control';

@at-root {
    .#{$block-class} {
        &__form {
            display: flex;
            flex-direction: column;
            border: 2px solid $BORDER_COLOR;
            border-radius: 2px;
            margin-left: 10%;
            margin-right: 10%;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            padding: 0.5em;
            width: 100%;
        }

        &__fields {
            display: flex;
            align-items: center;
        }

        &__input,
        &:-webkit-autofill,
        :-webkit-autofill:hover,
        :-webkit-autofill:focus {
            @include text-input;

            width: 100%;
            margin-left: 0.5em;
            margin-bottom: 0.5em;
        }

        &__plus-icon {
            margin-right: 10px;
            margin-left: 10px;
            cursor: pointer;

            @extend .small-icon;
        }
    }
}
