
$block-class: 'add-users';

@at-root {
    .#{$block-class} {
        cursor: pointer;

        &__control-row {
            display: flex;
            justify-content: flex-end;
            padding: 1em 2em;
            margin-right: 10%;
        }

        &__control-row-button {
            @extend .standard-button;

            margin-left: 1em;
            border-radius: 2px;
            letter-spacing: 0.8px;
            font-weight: 400;

            &:hover {
                background: $DARK_GREEN;
                border-color: $DARK_GREEN;
            }
        }

        &__control-row-import-button {
            @extend .disabled-button;
        }

        &__instructions {
            @extend .lead-font;

            display: flex;
            justify-content: center;
            margin: 0 auto;

            &--top {
                margin-top: 24px;
                justify-content: center;
            }

            &--bottom {
                margin-bottom: 48px;
            }
        }

        &__tabs__nav {
            display: flex;
            border-bottom: 1px solid $LIGHT_GRAY;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 0;
        }

        .divider {
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}
