$block-class: 'add-subjects';

@at-root {
    .#{$block-class} {
        &__import-row {
            display: flex;
            justify-content: flex-end;
            margin-right: 10%;
            padding: 1em 2em;
        }

        &__import-button {
            @extend .disabled-button;
        }

        &__table-row {
            display: flex;
            align-content: center;
            justify-content: space-between;
            margin-right: 10%;
            margin-left: 10%;
            padding: 8px 16px;
            border: 2px solid $BORDER_COLOR;
            border-top-width: 0;

            &:nth-child(even) {
                background-color: $WHITE;
            }
        }

        &__instructions {
            @extend .lead-font;

            display: flex;
            justify-content: center;
            width: 75%;
            margin-top: 24px;
            margin-bottom: 32px;
            margin-left: 10%;
            padding-left: 1rem;
        }
    }
}
