$block-class: 'add-subject-control';

@at-root {
    .#{$block-class} {
        &__form {
            display: flex;
            flex-direction: column;
            border: 2px solid $border-color;
            border-radius: 2px;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            padding: 1em;
        }

        &__fields {
            display: flex;
            width: 100%;
            align-items: center;
        }

        &__input {
            width: 100%;
            margin: 1em;
        }

        &__plus-icon {
            margin-right: 10px;
        }
    }
}
