$block-class: 'add-users';

@at-root {
    .#{$block-class} {
        cursor: pointer;

        &__import-row {
            display: flex;
            justify-content: flex-end;
            padding: 1em 2em;
            margin-right: 10%;
        }

        &__import-row-button {
            margin-left: 1em;
            border-radius: 2px;
            letter-spacing: 0.8px;
            font-weight: 400;

            &:hover {
                background: darken(#4eb276, 10);
                border-color: darken(#4eb276, 10);
            }
        }

        &__instructions {
            @extend .lead-font;

            display: flex;
            justify-content: center;
            margin: 0 auto;

            &--top {
                margin-top: 3rem;
                justify-content: center;
            }
        }

        .grommetux-tab--active {
            background: darken(#fff, 10%);
            font-weight: 700;
        }

        .grommetux-tabs--justify-center {
            justify-content: flex-start;
            margin-left: 10%;
            margin-right: 10%;
        }

        .grommetux-tab {
            width: 150px;
            display: flex;
            font-weight: 700;

            &:hover {
                background-color: darken(#fff, 7%);
            }
        }

        .grommetux-tab__label {
            @extend .large-font;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: $header-font-color;
            width: 150px;
            display: flex;
            padding-bottom: 4px;
            padding-top: 4px;
            border-bottom: none;
        }

        .divider {
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}
