$block-class: 'amida-footer';

@at-root {
    .#{$block-class} {
        position: absolute;
        bottom: 0;
        padding-right: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: hsl(216, 2, 93);
        width: 100%;
        height: $footer-height;

        &__footer-title {
            @extend .med-font;

            margin-right: 1em;
        }

        &__indaba-service-mark {
            height: 40px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
}
