$block-class: "amida-footer";

@at-root {
    .#{$block-class} {
        display: flex;
        position: absolute;
        bottom: 0;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: $footer-height;
        padding-right: 10%;
        padding-left: 10%;

        &__version {
            margin-left: 1em;
            font-size: 10px;
        }

        &__footer-title {
            font-size: 18px;
        }

        &__footer-text {
            margin-right: 1em;
        }

        &__indaba-service-mark {
            width: 37.06px;
            height: 40px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
}
