$block-class:'confirmation-checkbox';

@at-root {
    .#{$block-class} {
        &--true {
            fill: $brand-color;
        }

        &--false {
            fill: $border-color;
        }
    }
}
