$block-class:'confirmation-checkbox';

@at-root {
    .#{$block-class} {
        &--true {
            fill: $LIGHT_GREEN;
        }

        &--false {
            fill: $BORDER_COLOR;
        }
    }
}
