$block-class: 'date-input';

@at-root {
    .#{$block-class} {
        position: relative;

        &__calendar-wrapper {
            position: absolute;
            right: 0;
        }

        &__value {
            display: flex;
            align-items: center;

            @extend .med-font;
        }

        &__value-icon {
            @extend .small-icon;
        }
    }
}
