$form-text: #333;
$block-class: 'date-input';

@at-root {
    .#{$block-class} {
        position: relative;

        &__calendar-wrapper {
            position: absolute;
            right: 0;

            &--inline {
                position: static;
            }
        }

        &__value {
            display: flex;
            justify-content: space-between;
            color: $form-text;

            @extend .med-font;
        }

        &__value-icon {
            @extend .small-icon;
        }
    }
}
