$block-class: 'delete-icon-button';

@at-root {
    .#{$block-class} {
        &__icon {
            @extend .small-icon;

            cursor: pointer;

            &:hover {
                fill: darken($FONT_COLOR, 10);
            }
        }
    }
}
