$block-class: 'delete-icon-button';

@at-root {
    .#{$block-class} {
        &__icon {
            fill: $font-color;
            cursor: pointer;

            &:hover {
                fill: darken($font-color, 10);
            }
        }
    }
}
