$block-class: 'editable-text-input';

@at-root {
    .#{$block-class} {
        font-size: 22px;
        font-weight: 300;
        color: $lead-font-color;
        display: flex;

        &__icon {
            @extend .small-icon;
        }
    }
}
