$block-class: 'editable-text-input';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: relative;

        // .grommet selectors to exceed grommet styling specificity if
        // this component happens to be in a grommet context
        &__text-input,
        .grommet &__text-input:not(.grommetux-input) {
            border-radius: 2px;
            border: 1px solid $border-color;
        }

        &__icon {
            position: absolute;
            right: 0;
            fill: $header-font-color;
            width: 1.5em;
        }
    }
}
