$block-class: "editable-text-input";

@at-root {
    .#{$block-class} {
        display: flex;
        color: $HEADER_FONT_COLOR;
        font-size: 22px;
        font-weight: 300;

        &__field {
            @include text-input;

            width: 90%;
            border: 0;
        }

        &__icon {
            @extend .primary-icon;

            margin-top: 0.4em;
        }
    }
}
