$font-color: #a4aebf;
$brand-neutral-colors: (#308253, #4eb276);
$timestamp-green: #429664;

$block-class:'flag-commentary';

@at-root {
    .#{$block-class} {
        &__frame {
            padding: 1em;
            background: #fff;
        }

        &__timestamp {
            margin-bottom: 3px;
            color: $timestamp-green;
            font-weight: bold;
        }

        &__discussion {
            width: 100%;
            height: 20em;
            resize: none;
            border: 0;
            background: #fff;
            padding: 1em;
            margin-right: 0;
        }
    }
}
