$font-color: #A4AEBF;
$brand-neutral-colors: (#308253, #4EB276);

$block-class:'flag-controls';
@at-root {
    .#{$block-class} {
        width: 80%;
        display: block;

        &__checkbox {
            margin-top: 1em;
            display: flex;
            justify-content: flex-end;
            flex-flow: nowrap;
        }

        &__notify {
            margin-top: 0em;
            margin-bottom: 1em;
        }

        &__button-group {
            margin-top: 5px;
            float: right;

            &-send {
                margin-left: 5px;
            }
        }
    }
}

.grommetux-check-box__label {
    margin-right: 0px;
}
