
.lead-font {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.lead-font-bold {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.x-small-font {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.small-font {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.med-font {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.large-font {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.x-large-font {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
