
.lead-font {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $lead-font-color;
}

.lead-font-bold {
    @extend .lead-font;

    font-weight: 500;
}

.x-small-font {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: $font-color;
}

.small-font {
    @extend .x-small-font;

    font-size: 14px;
}

.med-font {
    @extend .lead-font;

    font-size: 18px;
}

.large-font {
    @extend .lead-font;

    font-size: 22px;
    letter-spacing: -0.8px;
}

.x-large-font {
    @extend .lead-font;

    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.8px;
}
