
.lead-font {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $LEAD_FONT_COLOR;
}

.lead-font-bold {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: $LEAD_FONT_COLOR;
}

.x-small-font {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: $FONT_COLOR;
}

.small-font {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: $FONT_COLOR;
}

.med-font {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: $LEAD_FONT_COLOR;
}

.large-font {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.8px;
    color: $LEAD_FONT_COLOR;
}

.x-large-font {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.8px;
    color: $LEAD_FONT_COLOR;
}
