.primary-icon {
    width: 32px;
    height: 32px;
    fill: $header-font-color;
}

.small-icon {
    width: 24px;
    height: 24px;
    fill: $header-font-color;
}

.x-small-icon {
    width: 16px;
    height: 16px;
    fill: $header-font-color;
}
