.primary-icon {
    width: 32px;
    height: 32px;
    fill: $HEADER_FONT_COLOR;

    &:hover {
        fill: $LEAD_FONT_COLOR;
    }
}

.small-icon {
    width: 24px;
    height: 24px;
    fill: $HEADER_FONT_COLOR;

    &:hover {
        fill: $LEAD_FONT_COLOR;
    }
}

.x-small-icon {
    width: 16px;
    height: 16px;
    fill: $HEADER_FONT_COLOR;

    &:hover {
        fill: $LEAD_FONT_COLOR;
    }
}
