$block-class:'invite-user';

@at-root {
    .#{$block-class} {
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        min-width: 320px;
        margin-bottom: 10px;

        &__header {
            padding: 0.5em;
        }

        &__email {
            margin-left: 0.5em;
            margin-right: 0.5em;
            padding: 0.5em;
            flex-grow: 0;
            width: calc(100% - 1em);
            overflow: hidden;
            border-radius: 2px;
            background-color: #fff;

            &:focus {
                padding: 0.5em;
            }
        }

        &__name-inputs {
            display: flex;
            flex-direction: row;
        }

        &__name-inputs input {
            margin-left: 0.5em;
            margin-right: 0.5em;
            padding: 0.5em;
            flex-grow: 0;
            width: calc(100% - 1em);
            overflow: hidden;
            border-radius: 2px;
            background-color: #fff;

            &:focus {
                padding: 0.5em;
            }

            &:active {
                border-color: nth($brand-neutral-colors, 2);
            }
        }

        &__buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        &__button {
            margin-right: 0.5em;
        }
    }
}
