$block-class: 'invite-user-form';

@at-root {
    .#{$block-class} {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0.5rem;
        width: 100%;

        &__text-input {
            @include text-input;

            flex: 1;
            margin-right: 16px;
        }

        &__submit-form {
            @extend .button;
        }
    }
}
