$block-class:'invite-user';

@mixin invite-input {
    border-radius: 2px;
    border: 1px solid $LIGHT_GRAY;
    background-color: transparent;
    padding: 16px;
    flex-grow: 0;
    overflow: hidden;

    &:focus,
    &:active {
        border: 2px solid $LIGHT_GREEN;
        outline: none;
    }
}

@at-root {
    .#{$block-class} {
        background-color: $PRIMARY_GRAY;
        padding: 16px;

        &__header {
            padding: 8px;
        }

        &__email {
            @include invite-input;

            width: 100%;
        }

        &__name-inputs {
            display: flex;
            flex-direction: row;
            margin-left: -0.5em;
            margin-bottom: 0.5em;
        }

        &__name-input {
            @include invite-input;

            margin-left: 0.5em;
            border-radius: 2px;
        }

        &__buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 16px;
        }

        &__button-clear {
            @extend .secondary-button;
        }

        &__button-invite {
            @extend .button;
        }
    }
}
