
$block-class: 'invite-user-form';

@at-root {
    .#{$block-class} {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0.5rem;
        width: 100%;

        &__text-input,
        &:-webkit-autofill,
        :-webkit-autofill:hover,
        :-webkit-autofill:focus, {
            background-color: #fff;
            border: 1px solid $border-color;
            -webkit-box-shadow: 0 0 1000px #fff inset;
            transition: background-color 5000s ease-in-out 0s;
            flex: 1;
            margin-right: 4px;
            padding: 2px;
        }

        &__submit-form {
            background-color: $font-color;
            width: 50px;
            height: 30px;
            border: none;
            letter-spacing: 0.8px;
            color: darken(#fafafa, 5%);
            font-size: 12px;
        }
    }
}
