$sidebar-width: 320px;
$block-class:'matrix-container';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        flex: 1;

        &__header {
            font-size: 12px;
            text-transform: uppercase;
        }

        &__header--centered {
            text-align: center;
        }

        &__task-matrix {
            overflow: scroll;
            min-width: calc(100vw - #{$sidebar-width});
        }

        &__sidebar {
            flex: 1;
            max-width: $sidebar-width;
            width: $sidebar-width;
        }
    }
}
