$block-class:'new-project-title';
$bad-color: #af1212;

@at-root {
    .#{$block-class} {
        padding: 3em 2em;

        &__name {
            width: 100%;
        }

        &__summary-container {
            padding-top: 1em;
        }

        &__error {
            color: $bad-color;
        }

        &__summary {
            resize: none;
        }
    }
}
