$block-class:'new-project-title';
$bad-color: #af1212;

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        padding: 3em 2em;

        &-layer {
            width: 800px;
        }

        &__summary-container {
            padding-bottom: 0.5em;
            margin-top: 8px;
        }

        &__error {
            width: 50%;
            color: $bad-color;
        }

        &__summary {
            resize: none;
            width: 100%;
        }
    }
}
