$element-background: #fdfdfd;
$block-class:'pm-dashboard';

@at-root {
    .#{$block-class} {
        margin-left: 5%;
        margin-right: 5%;

        &__table {
            border: 2px solid $BORDER_COLOR;
            border-radius: 2px;
            background-color: $element-background;
        }

        &__no-data {
            @extend .large-font;

            color: #333;
            text-align: center;
            margin: 1em;
        }
    }
}
