$block-class: 'pm-users-tab';

@at-root {
    .#{$block-class} {
        height: 100%;
        border: 2px solid $border-color;

        &__invite-container {
            background-color: lighten(#d8d8d8, 10%);
            display: flex;
            flex-direction: column;
            padding: 1em;
        }

        &__text-input {
            display: flex;
            flex: 1;
            font-size: 14px;
            margin-bottom: 10px;
            margin-right: 50px;
            padding: 2px;
            height: 30px;
            letter-spacing: 0.8;
        }

        &__addgroup {
            color: red;
        }
    }
}
