$block-class: 'pm-user-list-row';

@at-root {
    .#{$block-class} {
        display: flex;
        cursor: pointer;

        @extend .lead-font;

        &:hover {
            background-color: $LIGHTEST_GRAY;
        }

        &__cell {
            padding: 14px 16px;
            display: inline-flex;
            flex: 6;
            margin-left: 24px;
        }

        &__mail-button {
            // TODO: change mail icon, colors dont work.
            @extend .small-icon;
        }
    }
}
