$block-class: 'pm-user-list-header';

@at-root {
    .#{$block-class} {
        width: 100%;
        display: inline-flex;

        @extend .lead-font;

        &__cell {
            flex: 6;
            color: $font-color;
            font-weight: 500;
            padding: 8px 16px;
            justify-content: center;
        }
    }
}
