$block-class: 'pm-user-groups-tab';

@at-root {
    .#{$block-class} {
        border: 2px solid $BORDER_COLOR;
        border-radius: 2px;
        justify-content: center;
        background-color: $PAGE_BACKGROUND_COLOR;

        &__filter-container {
            padding: 1em;
        }

        &__input {
            padding: 5px 5px 5px 10px;
            width: 100%;
            border: 1px solid $BORDER_COLOR;

            &:focus,
            &:active {
                border: 2px solid $LIGHT_GREEN;
                outline: none;
            }
        }
    }
}
