$block-class: 'pm-users-tab';

@at-root {
    .#{$block-class} {
        background-color: #fdfdfd;
        border: 2px solid $BORDER_COLOR;
        margin-bottom: 80px;

        &__invite-container {
            background-color: #f9f9f9;
            border-bottom: 1px solid $BORDER_COLOR;
            display: flex;
            flex-direction: column;
            padding: 16px;
        }

        &__search-container {
            padding: 1em;
        }

        &__text-input {
            padding: 8px;
            width: 100%;
            border: 1px solid $BORDER_COLOR;

            &:focus,
            &:active {
                border: 2px solid $LIGHT_GREEN;
                outline: none;
            }
        }

        .grommetux-control-icon {
            @extend .small-icon;
        }
    }
}
