$block-class: 'pm-all-subjects';

@at-root {
    .#{$block-class} {
        background-color: #fdfdfd;

        @extend .subjects__table;

        margin-top: 5em;

        &__search-wrapper {
            @extend .subjects__search-wrapper;
        }
    }
}
