$block-class: 'pm-users-tab';

@at-root {
    .#{$block-class} {
        background-color: transparent;
        margin-bottom: 80px;
        border-radius: 4px;

        &__invite-container {
            background-color: $WHITE;
            display: flex;
            flex-direction: column;
            padding: 16px;
        }

        &__search-container {
            padding: 1em;
            background-color: $WHITE;
        }

        &__text-input {
            @include text-input;
        }

        &__header {
            @extend .table-full;
        }

        &__table {
            @extend .table-full;

            margin-top: 32px;
        }
    }
}
