$block-class: 'pm-all-users';

@at-root {
    .#{$block-class} {
        @extend .pm-users-tab;

        margin-top: 5em;

        &__invite-container {
            @extend .pm-users-tab__invite-container;
        }

        &__search-container {
            @extend .pm-users-tab__search-container;
        }

        input::-webkit-input-placeholder {
            color: $ANCHOR_GRAY;
        }

        &__header {
            @extend .table-full;
        }
    }
}
