$block-class:'pm-dashboard';

@at-root {
    .#{$block-class} {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

        &:nth-child(even) {
            background-color: #fff;
        }

        &__table {
            border: 2px solid $border-color;
        }
    }
}
