$block-class: "pm-user-list-header";

@at-root {
    .#{$block-class} {
        display: inline-flex;
        width: 100%;

        @include table-header;

        &__cell {
            flex: 6;
            justify-content: center;
            margin-left: 24px;
        }
    }
}
