$block-class: 'pm-user-list-header';

@at-root {
    .#{$block-class} {
        width: 100%;
        display: inline-flex;

        &__cell {
            flex: 6;
            color: $font-color;
            letter-spacing: 0.8px;
            padding: 1em;
            justify-content: center;
        }
    }
}
