$block-class-dashboard:'pm-dashboard';
$block-class: 'project-list-header';

@at-root {
    .#{$block-class-dashboard} {
        margin-left: 5%;
        margin-right: 5%;

        &__table {
            border: 2px solid $BORDER_COLOR;
            border-radius: 4px;
            background-color: $WHITE;
        }

        &__no-data {
            @extend .large-font;

            color: $ANCHOR_GRAY;
            text-align: center;
            margin: 1em;
        }
    }
}

@at-root {
    .#{$block-class} {
        display: flex;
        padding: 16px 16px;
        background-color: $LIGHT_GRAY;

        &__title {
            color: $HEADER_FONT_COLOR;
            font-size: 16px;

            &--project {
                flex: 3;
                text-align: left;
                margin-left: 14px;
            }

            &--survey {
                flex: 3;
                text-align: left;
                margin-left: 56px;
            }

            &--flags {
                flex: 1;
                text-align: left;
                margin-left: 40px;
            }

            &--last-updated {
                flex: 1;
                text-align: left;
                display: flex;
            }
        }
    }
}
