$block-class: 'pm-user-groups-tab';

@at-root {
    .#{$block-class} {
        border: 2px solid $border-color;
        border-radius: 2px;
        justify-content: center;

        &__input {
            display: flex;
            flex: 1;
            width: 100%;
            background-color: #fff;
            border: 1px solid $border-color;

            &--search {
                color: red;
            }
        }
    }
}
