$block-class: 'pm-all-subjects';

@at-root {
    .#{$block-class} {
        margin-top: 5em;
        background-color: $PAGE_BACKGROUND_COLOR;

        @extend .subjects__table;

        &__filter-wrapper {
            @extend .subjects__filter-wrapper;
        }
    }
}
