$block-class:'preference-tab';

@at-root {
    .#{$block-class} {
        padding: 1em;

        &__label {
            @extend .lead-font;

            display: flex;
            flex-direction: column;
        }

        &__input-select {
            @include text-input;

            padding: 12px 14px;
        }

        .preference-tab__input-textarea {
            @include text-input;
        }
    }
}
