$nav-text-color: #e0e0e0;
$nav-create-button-background: #308253;
$brand-neutral-colors: (#308253, #4d8061);

$block-class:'primary-nav';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
        background-color: nth($brand-neutral-colors, 2);
        height: $primary-nav-height;

        &__left {
            align-content: baseline;
            width: 70%;
        }

        &__indaba-logo {
            padding-top: 2px;
            width: 140px;
            height: 64px;
            margin-left: 2%;
            margin-bottom: 2px;
        }

        &__item {
            &-nav {
                justify-content: space-between;
                align-items: center;
                color: $nav-text-color;
                font-size: 16px;
                margin-left: 20px;
                font-weight: 400;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                padding-left: 8px;
                padding-right: 8px;

                &:hover {
                    text-decoration: none;
                    color: darken(#388055, 20%);
                }

                &:focus {
                    text-decoration: underline;
                    font-weight: 700;
                    color: $nav-text-color;
                }

                &--button {
                    height: 40px;
                    background-color: darken(#388055, 10%);
                    border: 1px;
                    color: $nav-text-color;
                    border-radius: 3px;
                    min-width: 10px;
                    font-size: 14px;

                    &:hover {
                        color: $nav-text-color;
                        font-weight: 700;
                    }
                }
            }
        }

        &__toast {
            .toastify__progress {
                background: $off-brand-color;
            }
        }

        &__link {
            color: $nav-text-color;
            padding-left: 8px;
            padding-right: 8px;
        }

        &__right {
            margin-right: 10%;

            &-logout,
            &-envelope,
            &-user {
                align-items: center;
                color: $nav-text-color;
                font-size: 16px;
                font-weight: 400;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                &:hover {
                    text-decoration: none;
                    color: darken(#388055, 20%);
                }

                &:focus {
                    text-decoration: underline;
                    font-weight: 700;
                    color: $nav-text-color;
                }
            }
        }
    }
}
