$block-class:"primary-nav";

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        height: $primary-nav-height;
        background-color: $NAVIGATION_BACKGROUND_COLOR;

        &__left {
            display: flex;
            align-items: center;
            margin-left: 10%;
        }

        &__right {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-right: 10%;
        }

        &__indaba-logo {
            width: 140px;
            height: 64px;
            margin-bottom: 2px;
            margin-left: 2%;
            padding-top: 2px;
        }

        &__item-nav {
            position: relative;
            align-items: center;
            justify-content: space-between;
            margin-left: 20px;
        }

        &__item-nav-cell {
            padding-right: 8px;
            padding-left: 8px;
            color: $NAVIGATION_ITEM_COLOR;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400;

            &:hover {
                color: $NAVIGATION_ITEM_HOVER_COLOR;
                text-decoration: none;
            }

            &:focus,
            &:active,
            &:visited {
                font-weight: 400;
                text-decoration: none;
            }

            &:focus {
                color: $NAVIGATION_ITEM_FOCUS_COLOR;
            }

            &--active,
            &--active:focus {
                color: $NAVIGATION_ITEM_ACTIVE_FOCUS_COLOR;
            }
        }

        &__button {
            @extend .button;

            min-width: 10px;
            height: 40px;
            margin-right: 14px;
            padding: 6px 22px;
            border-radius: 3px;
            font-size: 14px;
        }

        &__envelope,
        &__user {
            align-items: center;
            width: 16px;
            height: 16px;
            color: $NAVIGATION_ITEM_COLOR;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400;

            &:hover {
                color: $NAVIGATION_ITEM_HOVER_COLOR;
                text-decoration: none;
            }

            &:focus,
            &:active {
                color: $NAVIGATION_ITEM_ACTIVE_FOCUS_COLOR;
                font-weight: 400;
                text-decoration: none;
            }
        }

        &__welcome {
            align-items: center;
            margin-left: 8px;
            color: $NAVIGATION_ITEM_COLOR;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400;
        }

        &__logout {
            align-items: center;
            margin-left: 8px;
            color: $NAVIGATION_ITEM_COLOR;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400;

            &:hover {
                color: $NAVIGATION_ITEM_HOVER_COLOR;
                text-decoration: none;
            }

            &:focus {
                color: $NAVIGATION_ITEM_ACTIVE_FOCUS_COLOR;
                font-weight: 400;
            }
        }
        //what is this??
        &__link {
            padding-right: 16px;
            padding-left: 16px;
            color: $BLACK;
        }
    }
}
