$block-class: 'project-glance';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        &__group {
            flex: 1;
            display: flex;
            justify-content: center;
            margin: 4px 0;
        }
    }
}
