$block-class: 'project-glance';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;

        &__group {
            flex: 1;
            display: flex;
            justify-content: center;
            margin: 8px 8px;
        }
    }
}
