$block-class: 'project-list-header';

@at-root {
    .#{$block-class} {
        display: flex;
        text-transform: uppercase;
        padding: 1em 2em 1em 1em;

        &__title {
            color: $header-font-color;
            font-weight: 900;

            &--project {
                flex: 3;
            }

            &--survey {
                flex: 3;
            }

            &--flags {
                flex: 1;
            }

            &--last-updated {
                flex: 3;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}
