$block-class: "project-wizard";

@at-root {
    .#{$block-class} {
        &__tabs {
            position: relative;

            &__nav {
                display: flex;
                justify-content: center;
                margin: 12px 0 0;

                &::after {
                    position: absolute;
                    width: 80%;
                    margin-top: 37px;
                    border-bottom: 2px solid $BORDER_COLOR;
                    content: "";
                    z-index: -1;
                }
            }
        }

        .project-wizard__tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 12px;
            border-bottom: none;
            cursor: pointer;

            &::after {
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                content: "";
            }

            &__link--active > .project-wizard__tab__title {
                color: $HEADER_FONT_COLOR;
                font-weight: 600;
            }

            &__title {
                @extend .lead-font;

                padding-bottom: 0;
                border-bottom: none;
                color: $HEADER_FONT_COLOR;
                font-size: 14px;
                cursor: pointer;
            }
        }

        .project-wizard__tab--complete {
            &::after {
                border: 2px solid $DARKEST_GREEN;
                background-color: $LIGHT_GREEN;
            }
        }

        .project-wizard__tab--incomplete {
            &::after {
                border: 2px solid $DARKEST_GREEN;
                background-color: $PAGE_BACKGROUND_COLOR;
            }
        }
    }
}
