$block-class: 'project-wizard';

@at-root {
    .#{$block-class} {
        margin-left: 5%;
        margin-right: 5%;

        .project-wizard__tab {
            &::after {
                content: '';
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: block;
            }
        }

        .project-wizard__tab--complete {
            &::after {
                background-color: green;
            }
        }

        .project-wizard__tab--incomplete {
            &::after {
                border: 2px solid $brand-color;
            }
        }

        .grommetux-tab__label {
            border-bottom: none;
        }
    }
}
