$block-class: 'project-list-entry';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:nth-child(even) {
            background-color: #fff;
        }

        &__name {
            flex: 2;
            padding: 1em;
        }

        &__status {
            flex: 1;

            &--active {
                color: darken($brand-color, 10%);
            }
        }

        &__flags {
            flex: 1;
            align-self: stretch;
        }

        &__last-updated {
            flex: 3;
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
        }
    }
}
