$block-class: 'project-list-entry';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: center;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;

        &:nth-child(even) {
            background-color: #fff;
        }

        &__name {
            flex: 1;
            padding: 1em;
        }

        &__status {
            flex: 1;

            &--active {
                color: darken($brand-color, 10%);
            }
        }

        &__flags {
            flex: 1;
            align-self: stretch;
        }

        &__last-updated {
            flex: 3;
        }
    }
}
