$block-class:'review-pane';

@at-root {
    .#{$block-class} {
        margin-right: 10px;

        &__flag-button {
            &--icon {

            }
        }

        &__controls {
            margin-top: 10px;

            &--radio {
                margin-left: 2em;
            }

            &--comment {
                width: 50%;
                height: 7em;
            }
        }
    }
}
