$block-class: 'status-card';

@at-root {
    .#{$block-class} {
        border: 1px solid $border-color;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding: 0 1.2em;
        margin: 0 0.5em;

        &__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1em;
        }
    }
}
