$block-class: 'status-card';

@at-root {
    .#{$block-class} {
        border: 2px solid $BORDER_COLOR;
        background-color: $WHITE;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding: 0.5em 2em;
        margin: 0 0.5em;

        &__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1em;
        }

        &__name-label {
            color: $STEEL_GRAY;

            @extend .med-font;
        }

        &__name-value {
            @extend .x-large-font;

            display: flex;
            cursor: pointer;
        }

        &__status {
            @extend .large-font;

            margin-top: 36px;
            display: flex;
            cursor: pointer;
        }

        &__create-icon {
            @extend .small-icon;

            margin-left: 8px;
        }

        &__edit-icon {
            @extend .small-icon;

            margin-left: 4px;
        }
    }
}
