$tag-height: 1.25em; // 20px
$late-color: #af1212;
$done-color: #68997d;
$not-started-color: #a4aebf;

$block-class:'stage-slot';

@at-root {
    .#{$block-class} {
        color: $font-color;
        text-transform: uppercase;

        &__container > * {
            margin-bottom: 0.2em;
        }

        &__filtered {
            opacity: 0.5;
        }

        &__name-row {
            text-transform: none;
            color: $header-font-color;
            font-size: 18px;

            span {
                cursor: pointer;
            }
        }

        &__due-row {
            font-size: 12px;

            span {
                float: right;
                color: white;
            }
        }

        &__role-span {
            font-size: 12px;
            align-items: flex-start;
        }

        &__masked-button {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none !important;
            padding: 0;
            height: 1em;
        }

        &__right-icon {
            float: right;
            fill: $brand-color;
        }

        &__left-icon {
            float: left;
            margin-right: 5px;
            fill: #a4aebf;
        }

        &__flag-row {
            margin-top: -8px;
            margin-bottom: 30px;
        }

        &__label {
            font-size: 10px; // em dependent calc
            display: inline-block;
            height: $tag-height; // 20px
            padding: 0 1em;
            margin-right: 5px;
            position: relative;
            min-width: 2.5em;
            border-radius: 2px;

            &--late {
                background-color: $late-color;
            }

            &--done {
                background-color: $done-color;
            }

            &--not-started {
                background-color: $not-started-color;
            }
        }
    }
}
