$card-background: rgba(243, 245, 246, 0.5);
$block-class: 'status-card';

@at-root {
    .#{$block-class} {
        border: 1px solid $BORDER_COLOR;
        background-color: $card-background;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding: 0.5em 2em;
        margin: 0 0.5em;

        &--icon {
            padding-left: 0.5em;
        }

        &__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1em;
        }

        &__name-label {
            color: $FONT_COLOR;
            font-size: 14px;
            line-height: 14px;
        }

        &__name-value {
            display: flex;
            color: $LEAD_FONT_COLOR;
            font-size: 24px;
            font-weight: 100;
            cursor: pointer;

            &:hover {
                color: nth($BRAND_NEUTRAL_COLORS, 2);
            }
        }

        &__status {
            color: $LEAD_FONT_COLOR;
            margin-top: 20px;
            font-size: 24px;
            display: flex;
            font-weight: 300;

            &:hover {
                color: nth($BRAND_NEUTRAL_COLORS, 2);
            }

            &--editable {
                cursor: pointer;
            }
        }

        &__create-icon {
            width: 1.6em;
            fill: $HEADER_FONT_COLOR;

            &:hover {
                fill: nth($BRAND_NEUTRAL_COLORS, 2);
            }
        }

        &__edit-icon {
            fill: $LEAD_FONT_COLOR;

            &:hover {
                fill: nth($BRAND_NEUTRAL_COLORS, 2);
            }
        }
    }
}
