$tag-height: 1.25em; // 20px

$block-class:"stage-slot";

@at-root {
    .#{$block-class} {
        min-height: 104px;
        padding: 16px;
        color: $HEADER_FONT_COLOR;
        font-size: 16px;

        &--accept {
            background: rgba(0, 155, 50, 0.3);
        }

        &--deny {
            background: rgba(255, 0, 0, 0.2);
        }

        &__container > * {
            margin-bottom: 0.2em;
        }

        &__filtered {
            opacity: 0.2;
        }

        &__name-row {
            color: $HEADER_FONT_COLOR;
            font-size: 18px;
            font-weight: 400;
            text-transform: none;

            span {
                cursor: pointer;
            }
        }

        &__due-row {
            display: flex;
            justify-content: space-between;
            color: $ANCHOR_GRAY;
            font-size: 14px;
        }

        &__role-span {
            align-items: flex-start;
            color: lighten($FONT_COLOR, 5%);
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.3px;
        }

        &__masked-button {
            height: 1em;
            padding: 0;
            border: none;
            background-color: Transparent;
            background-repeat: no-repeat;
        }

        &__right-icon {
            float: right;
            fill: $KALE_GREEN;
        }

        &__right-icon-container {
            margin-top: -7px;
            padding-bottom: 10px;
        }

        &__left-icon {
            width: 16px;
            height: 16px;
            margin-top: 2px;
            margin-right: 5px;
            float: left;
            fill: $HEADER_FONT_COLOR;
            cursor: pointer;

            &:hover {
                fill: $FONT_COLOR;
            }
        }

        &__flag-row {
            margin-top: -8px;
            margin-bottom: 30px;
        }

        &__assign-task-input {
            display: flex;
            align-content: center;
            width: 100%;
        }

        &__assign-task-input-cancel {
            margin-top: 8px;
            margin-right: 4px;
            margin-left: 6px;
            cursor: pointer;
        }
    }
}
