$block-class: 'status-label';

@at-root {
    .#{$block-class} {
        color: white;
        font-size: 10px; // em dependent calc
        display: inline-block;
        height: $tag-height; // 20px
        padding: 0 1em;
        margin-right: 5px;
        border-radius: 2px;

        &--bad {
            background-color: $ERROR_RED;
        }

        &--good {
            background-color: $KALE_GREEN;
        }

        &--neutral {
            background-color: $PRIMARY_GRAY;
            min-width: 85px;
        }
    }
}
