$block-class: "status-label";

@at-root {
    .#{$block-class} {
        display: inline-block;
        height: $tag-height; // 20px
        margin-right: 5px;
        padding: 0 1em;
        border-radius: 2px;
        color: $WHITE;
        font-size: 10px; // em dependent calc

        &--bad {
            background-color: $ERROR_RED;
        }

        &--good {
            background-color: $KALE_GREEN;
        }

        &--neutral {
            min-width: 85px;
            background-color: $PRIMARY_GRAY;
        }
    }
}
