@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$primary-nav-height: 64px;
$footer-height: 48px;
$footer-height-with-padding: 64px;
$brand-font-family: 'Roboto';

body {
    background-color: $PAGE_BACKGROUND_COLOR;
    color: $HEADER_FONT_COLOR;
    font-family: Roboto, sans-serif;
    overflow-y: auto;
}

html,
body,
#root,
.main-page {
    height: 100%;
}

.app {
    position: relative;
    min-height: 100%;
    padding-bottom: $footer-height-with-padding;
}

.divider {
    margin-top: 0;
    margin-bottom: 0;
    clear: both;
    border-top: 2px solid $BORDER_COLOR;
}

.main-divider {
    position: absolute;
    right: 0;
    left: 0;
}

.main-body {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.workflow {
    div {
        color: $FONT_COLOR;
        text-transform: uppercase;
    }
}

.grid-column {
    border-right: none;
    overflow-x: auto;
}

.workflow-table {
    width: 100%;

    .stage-slot-cell,
    .stage-summary-cell {
        background-color: $WHITE;
        cursor: pointer;
    }

    .stage-summary-cell:hover {
        background-color: $LIGHTEST_GRAY;
    }

    margin-bottom: 0;
    border-right: none;

    th:last-child,
    td:last-child,
    tr,
    tbody {
        // Do we even need this.
    }
}

.grid-subject {
    font-size: 16px;
    vertical-align: middle;
}

.table-bordered .grid-subject {
    padding-top: 16px;

    @extend .lead-font;
}

.center {
    float: left;
}
