$block-class: 'subject-list';

@at-root {
    .#{$block-class} {
        background-color: #fdfdfd;

        &__entry {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 8px 16px;

            @extend .lead-font;

            &:hover {
                background-color: #ededed;
            }
        }

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px 16px;
        }

        &__header-title {
            font-size: 14px;
            color: $lead-font-color;
            padding: 5px;

            &--name {
                cursor: pointer;

                &:hover {
                    background-color: darken(#fdfdfd, 10);
                }
            }
        }

        // .grommetux-button--plain .grommetux-button__icon {
        //     width: 12px;
        //     height: 12px;

        //     &:hover {
        //         fill: darken($font-color, 10);
        //     }
        // }
    }
}
