$block-class: 'subject-list';

@at-root {
    .#{$block-class} {
        &__entry {
            @extend .table-body;

            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px 16px;
            background-color: $LIGHT_GRAY;
        }

        &__header-title {
            @extend .lead-font;

            padding: 5px;

            &--name {
                cursor: pointer;

                &:hover {
                    background-color: $LIGHTEST_GRAY;
                }
            }
        }

        &__icon {
            @extend .small-icon;
        }
    }
}
