$block-class: 'subject-list';

@at-root {
    .#{$block-class} {
        &__table {
            border: 1px solid $border-color;
        }

        &__search-input {
            display: flex;
            padding: 1em;
            width: 100%;
            flex: 1;
            background-color: #fff;
            border: 1px solid $border-color;

            input {
                width: 100%;
                padding: 5px;
                border-radius: 2px;
            }
        }

        &__entry {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 1em;

            &:nth-child(even) {
                background-color: lighten(#d8d8d8, 10%);
            }
        }

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1em;
        }

        &__header-title {
            color: $font-color;
            letter-spacing: 0.8px;
        }

        .grommetux-button--plain .grommetux-button__icon {
            width: 16px;
            height: 24px;
        }
    }
}
