$block-class: 'subjects';

@at-root {
    .#{$block-class} {
        &__action {
            display: flex;
            justify-content: flex-end;
            padding: 1em 0;
        }

        &__action-button {
            border-radius: 2px;
        }

        &__table {
            border: 1px solid $border-color;
        }

        &__search-wrapper {
            padding: 1em;
            width: 100%;
            flex: 1;
            background-color: #fff;
            border: 1px solid $border-color;
        }
    }
}
