$block-class: 'subjects';

@at-root {
    .#{$block-class} {
        &__action {
            @include pm-sub-header;

            justify-content: flex-end;
            align-items: center;
        }

        &__action-button {
            @extend .button;
        }

        &__table {
            border: 2px solid $BORDER_COLOR;
        }

        &__filter-wrapper {
            padding: 1em;
            width: 100%;
            flex: 1;
            background-color: $WHITE;
            border: 2px solid $BORDER_COLOR;
        }
    }
}
