$block-class: "subjects";

@at-root {
    .#{$block-class} {
        &__action {
            @include pm-sub-header;

            align-items: center;
            justify-content: flex-end;
        }

        &__action-button {
            @extend .button;
        }

        &__table {
            border: 2px solid $BORDER_COLOR;
            border-radius: 4px;
        }

        &__filter-wrapper {
            flex: 1;
            width: 100%;
            padding: 1em;
            background-color: $WHITE;
        }
    }
}
