$block-class:'task-survey-list';
@at-root {
    .#{$block-class} {
        margin: 1em;

        &__instructions {
            margin-top: 1em;
        }
        &__instructions-header {
            color: #A4AEBF;
            text-transform: uppercase;
        }

        &__instructions-explained {
            display: block;
        }
    }
}
