$block-class:'task-view';
@at-root {
    .#{$block-class} {
        width: 90vw;

        &__text-container {
            display: flex;
            flex-direction: row;

            &--details-and-survey {
                width: 65%;
            }

            &--flag-sidebar {
                width: 35%;
                background: #f1f1f1;
            }
        }

        .grommetux-date-time__input {
        padding-right: 0 !important;
        }
    }
}
