$block-class:'task-details';
@at-root {
    .#{$block-class} {

        &__header {

            &--name {
                font-size: 22px;
            }
        }

        &__detail-block {

            &--box {
                display: inline-block;
                box-sizing: content-box;
                width: 25%;
             }
         }
    }
}
