$block-class:'task-details';
@at-root {
    .#{$block-class} {
        margin:10px;

        &__header {

        }

        &__header-name {
            font-size: 22px;
        }

        &__detail-block {

        }

        &__detail-box {
            display: inline-block;
            box-sizing: content-box;
            width: 25%;
        }
    }
}
