$font-color-for-labels: #757575;
$block-class:'tasks-tab';

@at-root {
    .#{$block-class} {
        &__row {
            flex-direction: row;
            display: flex;
            padding: 1em;
            justify-content: space-between;

            @extend .lead-font;

            &:hover {
                background-color: #f3f3f3;
            }
        }

        &__cell {
            flex: 1;

            &--header {
                font-size: 14px;
                color: $font-color-for-labels;
                font-weight: 400;
            }
        }
    }
}
