$block-class:'task-review';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__details-and-survey {
            width: 65%;
            height: calc(100vh - #{$primary-nav-height});
            overflow-y: scroll;
            position: relative;
        }

        &__flag-sidebar {
            width: 35%;
            background: #f1f1f1;
        }
    }
}
