$block-class:'task-view';
@at-root {
    .#{$block-class} {
        width: 90vw;
        height: 100vh;

        &__text-container {
            width: 100%;
            margin: 10px;
            display: flex;
            flex-direction: row;

            &--details-and-survey {
                width: 65%;
            }

            &--flag-sidebar {
                width: 35%;
            }
        }

        .grommetux-date-time__input {
        padding-right: 0 !important;
        }
    }
}
