$block-class:'task-review';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        

        &__details-and-survey {
            width: 65%;
        }

        &__flag-sidebar {
            width: 35%;
            background: #f1f1f1;
        }
    }
}
