$block-class:'tasks-tab';

@at-root {
    .#{$block-class} {
        &__row {
            flex-direction: row;
            display: flex;
            padding: 1em;
            justify-content: space-between;

            @extend .lead-font;

            &:hover {
                background-color: $LIGHTEST_GRAY;
            }
        }

        &__cell {
            flex: 1;

            &--header {
                @extend .small-font;
            }
        }
    }
}
