$block-class:'task-survey-list';

@at-root {
    .#{$block-class} {
        margin: 1em;

        &__wrapper {
            display: flex;
            justify-content: flex-end;
            padding: 8px;
            border-bottom: 1px solid $border-color;
            border-top: 1px solid $border-color;
            width: 100%;
        }

        &__instructions {
            margin-top: 1em;

            &-header {
                color: #a4aebf;
                text-transform: uppercase;
            }

            &-explained {
                display: block;
            }
        }
    }
}
