$block-class: 'user-status';

@at-root {
    .#{$block-class} {
        &__icon {
            @extend .small-icon;

            fill: #4eb276;

            &--inactive {
                fill: #7e848f;
            }
        }
    }
}
