$block-class:'user-name-input';

@at-root {
    .#{$block-class} {
        display: flex;

        &__label {
            @extend .small-font;

            flex: 1;
            padding: 16px;
        }
    }
}
