$block-class:'user-sidebar';

@at-root {
    .#{$block-class} {
        height: calc( 100vh - 300px );
        overflow: scroll;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;

        &__instructions {
            position: relative;
            padding: .5em;

        }

        &__user-search {
            margin: 0.5em;
            flex-grow: 0;
            width: calc( 100% - 1em );
            background-color: #fff;

            &__input {
                color: red;
            }
        }

        &__user-filter-by-group {
            overflow: visible;
            margin: 0.5em;
            margin-top: 0;
            width: calc( 100% - 1em );
            background-color: #fff;
        }
    }
}
