$block-class: 'users';

@at-root {
    .#{$block-class} {
        &__action-btn {
            display: flex;
            background-color: $element-background;
            border: 1px solid $border-color;
            padding: 24px;
            justify-content: flex-end;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 40px;

            &--left {
                @extend .button;

                &:hover {
                    background: darken(#4eb276, 10);
                    border-color: darken(#4eb276, 10);
                }
            }

            &--right {
                @extend .button;

                &:hover {
                    background: darken(#4eb276, 10);
                    border-color: darken(#4eb276, 10);
                }
            }
        }
    }
}
