$font-color-for-labels: #757575;
$block-class:'user-name-input';

@at-root {
    .#{$block-class} {
        display: flex;

        &__label {
            font-size: 14px;
            font-weight: 400;
            color: $font-color-for-labels;
            flex: 1;
            padding: 16px;
        }
    }
}
