$block-class:"user-groups-tab";

@at-root {
    .wrapper {
        min-height: 500px;
        margin-right: 10%;
        margin-left: 10%;
        padding: 1rem;
        border: 2px solid $BORDER_COLOR;
        background-color: $PAGE_BACKGROUND_COLOR;
    }
}
