$block-class:"user-sidebar";

@at-root {
    @include multi-select-styles;

    .#{$block-class} {
        display: flex;
        position: relative;
        flex-direction: column;
        min-width: 320px;
        padding: 16px;

        &__user-dropdown {
            height: 340px;
            overflow-y: scroll;
        }

        &__instructions {
            position: relative;
            padding: 8px;
            color: $HEADER_FONT_COLOR;
        }

        &__wrapper {
            margin: 0.5em;
        }

        &__user-filter-by-group {
            width: calc(100% - 1em);
            margin: 0.5em;
            margin-top: 0;
            background-color: $WHITE;
            overflow: visible;
        }
    }
}
