$block-class: 'user-badge';

@at-root {
    .#{$block-class} {
        width: 2.2em;
        height: 2.2em;
        margin-right: 2px;
        line-height: 2.2em;
        text-align: center;
        background-color: $PRIMARY_GREEN;
        border-radius: 50%;
        color: white;
    }
}
