$block-class:'user-group-list';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__header {
            display: inline-flex;
            width: 100%;
            color: $font-color;
            padding: 1em;
            padding: 30px;
            justify-content: space-between;
        }

        &__header-section {
            display: flex;
            flex: 1;

            &--action {
                display: flex;
                justify-content: flex-end;
            }

            &--members {
                margin-right: 200px;
            }
        }
    }
}
