$block-class: 'user-profile';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: scroll;
        min-height: 500px;
        min-width: 800px;

        &__tabs {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            margin-top: 1em;
        }
    }
}

// .grommetux-layer--align-top:not(.grommetux-layer--hidden) .grommetux-layer__container {
//     width: 850px;
// }

.grommet .grommetux-tab .grommetux-tab__label {
    font-size: 14px;
}
