$block-class: 'users-tab';

@at-root {
    .#{$block-class} {
        &__entry {
            display: flex;
            padding: 1em 3em;
            justify-content: space-between;
            border-bottom: 1px solid $border-color;
        }

        &__name-container {
            display: flex;
            align-items: center;
        }

        &__name {
            margin-left: 1em;
        }

        &__input {
            padding: 5px 5px 5px 10px;
            width: 100%;
            border: 1px solid $border-color;
        }

        &__btn {
            display: flex;
            justify-content: flex-end;
        }
    }
}
