$block-class: 'user-group-list-entry';

@at-root {
    .#{$block-class} {
        flex-direction: row;
        display: flex;
        align-items: center;
        padding: 8px 16px;

        @extend .lead-font;

        &:hover {
            background-color: #f3f3f3;
        }

        &__name {
            flex: 1;
            color: #7e848f;
        }

        &__badge-string {
            flex: 2;
            display: flex;
            flex-direction: row;
            margin-right: 5px;
        }
    }
}
