$block-class: 'user-group-list-entry';

@at-root {
    .#{$block-class} {
        // display: inline-flex;
        flex-direction: row;
        width: 100%;
        background-color: #fbad35;
        display: flex;
        // flex-direction: row;

        &__name {
            //
            flex: 1;
        }

        &__badge-string {
            //
            flex: 2;
            display: flex;
            flex-direction: row;
        }
    }
}
