$block-class:'user-group-list';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px 16px;
            color: $ANCHOR_GRAY;
            font-size: 14px;
            font-weight: 400;
        }

        &__header-section {
            display: flex;
            flex: 1;

            &--action {
                display: flex;
                flex: 1;
                justify-content: flex-end;
            }
        }
    }
}
