$block-class: 'users-tab';

@at-root {
    .#{$block-class} {
        border: 2px solid $BORDER_COLOR;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        min-height: 500px;

        &__wrapper {
            background-color: $PAGE_BACKGROUND_COLOR;
            padding: 1rem;
            height: 50%;
        }

        &__invite-container {
            width: 80%;
            margin-right: 10%;
            margin-left: 10%;
            padding-top: 0.5rem;
            border: 2px solid $BORDER_COLOR;
            border-radius: 4px;
        }

        &__invite-wrapper {
            background-color: $PAGE_BACKGROUND_COLOR;
            display: flex;
            flex: 1;
            flex-direction: column;
        }

        &__text-input {
            flex: 1;
            display: flex;
            min-width: 100%;
        }

        &__entry {
            display: flex;
            padding: 8px 16px;
            justify-content: space-between;
            border-bottom: 1px solid $BORDER_COLOR;

            &:nth-child(even) {
                background-color: $LIGHTEST_GRAY;
            }
        }

        &__name-container {
            display: flex;
            align-items: center;
        }

        &__name {
            margin-left: 1em;
        }

        &__search {
            background-color: $WHITE;
            margin-bottom: 1rem;

            &__input {
                padding: 5px 5px 5px 10px;
                width: 100%;
                border: 1px solid $BORDER_COLOR;
            }

            &__btn {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}
