.user-badge {
    background-color: $header-font-color;
    border-radius: 50%;
    color: white;
    border: 5px solid $header-font-color;
}

.user-group-list__badge-string>.user-badge {
    display: inline-block;
    margin-left: 4px;
}
