$block-class:'user-group-list';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            font-weight: bold;
            flex-direction: row;
            color: $font-color;
            padding: 8px 16px;
            justify-content: space-between;

            @extend .lead-font;
        }

        &__header-section {
            display: flex;
            flex: 1;

            &--action {
                display: flex;
                justify-content: flex-end;
                flex: 1;
            }
        }
    }
}
