$block-class: 'validated-text-input';

@at-root {
    input:not(.grommetux-input):not(.grommetus-check-box__input).#{$block-class},
    .#{$block-class} {
        &--error {
            border-color: red;
        }
    }
}
