$block-class: 'wizard-footer';

@at-root {
    .#{$block-class} {
        display: flex;
        background-color: #f2f2f2;
        justify-content: space-between;
        padding: 1.5rem;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;

        &__button {
            height: 3.3em;

            &--continue {
                @extend .button;

                margin-right: 16px;
            }

            &--back {
                @extend .secondary-button;
            }

            &--disabled {
                @extend .disabled-button;
            }

            &--skip {
                @extend .secondary-button;
            }

            &--cancel {
                @extend .secondary-button;
            }
        }
    }
}
