$block-class: 'add-stages-step';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;

        &__import-row {
            display: flex;
            justify-content: flex-end;
            padding: 1em 2em;
        }

        &__add {
            letter-spacing: 0.8px;
            font-weight: 400;
            border-radius: 2px;
            margin-right: 8px;

            &:hover {
                background: darken(#4eb276, 10);
                border-color: darken(#4eb276, 10);
            }
        }

        &__imp {
            letter-spacing: 0.8px;
            font-weight: 400;
            border-radius: 2px;
        }

        &__instructions {
            @extend .lead-font;

            display: flex;
            justify-content: center;
            margin: 2em;
        }

        &__grid {
            display: flex;
            background-color: #fff;
            border: 1px solid $border-color;
            min-width: 90%;
            height: 150px;

            &-row {
                display: flex;
                flex-direction: column;
                width: 25%;
                border: 2px solid $border-color;
                border-top: none;
                cursor: pointer;

                &--title {
                    @extend .x-small-font;

                    padding: 0.5rem;
                    border-bottom: 1px solid $border-color;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                &--summary {
                    color: $font-color;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding-top: 10%;
                }
            }
        }
    }

    .stage-summary {
        &__header {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}
