$block-class: 'add-stages-step';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__import-row {
            display: flex;
            justify-content: flex-end;
            padding: 1em 2em;
            margin-left: 10%;
            margin-right: 10%;

            &__button-1 {
                margin-right: 8px;
                letter-spacing: 0.8px;
                font-weight: 400;
                border-radius: 2px;

                &:hover {
                    background: darken(#4eb276, 10);
                    border-color: darken(#4eb276, 10);
                }
            }
        }

        &__instructions {
            @extend .lead-font;

            display: flex;
            margin-top: 1em;
            margin-left: 5%;
            padding-left: 1rem;
            margin-bottom: 1em;
        }

        &__grid {
            display: flex;
            background-color: #fff;
            border: 1px solid $border-color;
            min-width: 90%;
            height: 150px;
            margin-left: 5%;
            margin-right: 5%;

            &-row {
                display: flex;
                flex-direction: column;
                width: 25%;
                border: 2px solid $border-color;
                border-top: none;
                cursor: pointer;

                &--title {
                    @extend .x-small-font;

                    padding: 0.5rem;
                    border-bottom: 1px solid $border-color;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                &--summary {
                    color: $font-color;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding-top: 10%;
                }
            }
        }
    }
}
