@import 'common/semantic_colors';

@mixin button-font {
    font-family: PTSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-align: center;
}

@mixin button-padding {
    cursor: pointer;
    min-width: 120px;
    max-width: 384px;
    padding: 16px 16px;
}

.button {
    @include button-font;
    @include button-padding;

    background-color: transparent;
    border: 1px solid $LIGHT_GREEN;
    color: $LIGHT_GREEN;

    &:hover {
        background-color: $DARK_GREEN;
        color: white;
    }
}

.secondary-button {
    @include button-font;
    @include button-padding;

    background-color: transparent;
    border: none;
    color: $LIGHT_GREEN;
    outline: none;
}

.disabled-button {
    @include button-font;
    @include button-padding;

    background: transparent;
    border: none;
    color: $LIGHT_GRAY;
    opacity: 0.3;
    outline: none;
}
