@import 'common/semantic_colors';

.button {
    border: 1px solid $LIGHT_GREEN;
    font-family: PTSans-Bold, sans-serif;
    font-size: 15px;
    color: $LIGHT_GREEN;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 16px 16px;
    cursor: pointer;
    outline: none;
    min-width: 120px;
    max-width: 384px;

    &:hover {
        background: $DARK_GREEN;
        color: white;
    }
}

.secondary-button {
    background-color: transparent;
    font-family: PTSans-Bold, sans-serif;
    font-size: 15px;
    color: $LIGHT_GREEN;
    letter-spacing: 1.5px;
    text-align: center;
    border-radius: 4px;
    line-height: 24px;
    cursor: pointer;
    outline: none;
    min-width: 120px;
    max-width: 384px;
    padding: 16px 16px;
}

.disabled-button {
    background: $PRIMARY_GRAY;
    font-family: PTSans-Bold, sans-serif;
    font-size: 15px;
    color: $LIGHT_GRAY;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 1em;
    border: 2px solid $LIGHT_GREEN;
    border-radius: 4px;
    line-height: 24px;
    font-weight: 600;
    outline: none;
    min-width: 120px;
    max-width: 384px;
    opacity: 0.3;
    padding: 16px 16px;
}
