@import 'common/semantic_colors';

.standard-button {
    background-color: $LIGHT_GREEN;
    margin-left: 1em;
    border: 2px solid $LIGHT_GREEN;
    border-radius: 4px;
    font-size: 1.1875rem;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    outline: none;
    min-width: 120px;
    max-width: 384px;
    padding: 6px 22px;
}

.alt-button {
    background-color: transparent;
    margin-left: 1em;
    border: 2px solid $LIGHT_GREEN;
    border-radius: 4px;
    font-size: 1.1875rem;
    line-height: 24px;
    color: $header-font-color;
    cursor: pointer;
    text-align: center;
    outline: none;
    min-width: 120px;
    max-width: 384px;
    padding: 6px 22px;
}

.disabled-button {
    margin-left: 1em;
    background-color: transparent;
    border: 2px solid $LIGHT_GREEN;
    border-radius: 4px;
    color: #333;
    font-size: 1.1875rem;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    outline: none;
    min-width: 120px;
    max-width: 384px;
    opacity: 0.3;
    padding: 6px 22px;
}
