.main-page {
	margin: 10px 50px 10px 50px;
}

.card {
  border: 1px solid #DADCDE;
  border-radius: 2px;
  padding: 0.8em 0 1.2em 2em;
  font-family: 'Proxima Nova';

  .card-title {
    color: #A4AEBF;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 14px;
  }

  .card-value {
    color: #7E848F;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0.2em;
  }
}
