$block-class: 'new-project-title-form';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        padding: 2em;

        &__field {
            @include text-input;

            margin-bottom: 8px;
            display: flex;
        }

        &__instructions {
            @extend .small-font;

            margin-bottom: 14px;
        }

        &__error {
            color: $ERROR_RED;
            margin-top: 5px;
            min-height: 20px;
        }

        &__hidden-button {
            display: none;
        }
    }
}
