$block-class:'new-project-title';

@at-root {
    .#{$block-class} {
        &__layer {
            width: 800px;
        }

        &__error {
            width: 50%;
            color: $ERROR_RED;
        }
    }
}
