$block-class: 'new-project-title-form';

@at-root {
    .#{$block-class} {
        flex-direction: row;
        padding: 3em 2em;
        justify-content: space-around;

        &__field {
            margin-bottom: 16px;
            display: flex;
            align-items: stretch;
            flex-direction: column;

            @extend .large-font;
        }

        &__label {
            margin-bottom: 16px;

            @extend .small-font;
        }

        &__summary-container {
            padding-bottom: 0.5em;
        }

        &__summary {
            resize: none;
            width: 100%;
        }
    }
}
