$block-class: 'new-project-title-form';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        padding: 3em 2em;
        justify-content: space-around;

        &__label {
            margin-bottom: 4px;

            @extend .small-font;
        }

        &__field {
            margin-bottom: 24px;
            font-size: 24px;
        }

        &__summary-container {
            padding-bottom: 0.5em;
        }

        &__summary {
            resize: none;
            width: 100%;
        }
    }
}
