$block-class: "add-user-form";

@at-root {
    .#{$block-class} {
        &__label {
            display: flex;
            flex-direction: column;
            min-width: 800px;
            padding: 1em;
            color: $FONT_COLOR;

            &--input {
                @include text-input;

                margin-top: 8px;
            }
        }

        input[type=text] {
            @include text-input;
        }
    }
}
