$block-class:'create-new-project';

@at-root {
    .#{$block-class} {
        &__button-panel {
            padding: 2em 2em 0;
            text-align: center;

            p {
                max-width: 576px;
                margin-left: 0;
                margin-top: 24px;
                margin-bottom: 24px;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.375;
                color: #666;
            }
        }

        &__import-button {
            @extend .disabled-button;

            cursor: default !important; // INBA-897.
        }

        &__create-button {
            @extend .button;
        }
    }
}
