$block-class:'create-new-project';

@at-root {
    .#{$block-class} {
        &__button-panel {
            padding: 2em 2em 0;
            text-align: center;
        }

        &__import-button {
            @extend .disabled-button;

            cursor: default !important; // INBA-897.
        }

        &__create-button {
            @extend .button;
        }
    }
}
