$block-class:'footer-button';

@at-root {
    .#{$block-class} {
        &__primary {
            @extend .button;

            margin-top: 8px;
            margin-right: 8px;
            margin-bottom: 8px;
            margin-left: 16px;
        }

        &__cancel {
            @extend .secondary-button;

            margin-top: 8px;
            margin-right: 8px;
            margin-bottom: 8px;
            margin-left: 16px;
        }
    }
}
