$block-class:'modal-c'; // Bootstrap is doing its crap again. Call this with a -c suffix then change later.

@at-root {
    .#{$block-class} {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        background-color: $MODAL_BACKGROUND_COLOR;
        overflow: auto;
        z-index: 10;

        &__container {
            position: absolute;
            left: 50%;
            max-width: 100%;
            max-height: 100%;
            margin: 4em 1em 1em;
            padding: 0;
            animation: slide-down 0.2s ease-in-out forwards;
            transform: translateX(-50%);
            border: 1px solid $BORDER_COLOR;
            border-radius: 3px;
            background-color: $WHITE;
            box-shadow: 2px 0 6px 0 $ANCHOR_GRAY;

            input[type=text] {
                @include text-input;
            }
        }
        // space at the top for positioning, space on the other side to show box-shadow

        &__title {
            padding-left: 1em;
            border-bottom: 2px solid $BORDER_COLOR;
            background-color: $LIGHT_GRAY;
            color: $HEADER_FONT_COLOR;
            font-size: 18px;
            line-height: 48px;
            text-align: left;
        }

        &__body-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2em;
            text-align: center;

            @extend .large-font;
        }

        &__footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__button-wrapper {
            @extend .button;
        }

        &__contents {
            height: 100%;

            // specific layers
            &.task-view-layer {
                width: 90vw;
                height: 100vh;

                .name {
                    font-size: 22px;
                }

                .container {
                    width: 100%;
                    margin: 10px;
                }

                .detail-box {
                    display: inline-block;
                    box-sizing: content-box;
                    width: 20%;
                }
            }
        }

        &--add-subject-layer {
            width: 30em;

            input {
                width: 100%;
            }

            .layer-body-container {
                padding: 2em 1em;
            }
        }

        &--add-stage-layer {
            width: 60em;

            input[type=text] {
                width: 100%;
            }

            input[type=radio] {
                margin-top: 5px;
            }

            .container {
                width: 100%;
                margin: 10px;
            }

            @include multi-select-styles;

            .layer-body-container {
                padding: 1em 1em 0;
            }
        }

        &--project-status-change-layer {
            .ion-replaced-checkbox {
                display: none;

                & ~ .android-checkbox {
                    display: inline-block;
                    margin-right: 0.5em;
                    vertical-align: middle;
                }
            }

            .toggle-native-check {
                display: none;

                &:checked ~ .toggle {
                    border-color: $LIGHT_GREEN;
                }

                &:checked ~ .toggle::after {
                    left: 30px;
                    background-color: $LIGHT_GREEN;
                }
            }

            .toggle {
                position: relative;
                width: 54px;
                height: 24px;
                margin-top: 6px;
                float: right;
                border: 2px solid $FONT_COLOR;
                border-radius: 12px;
            }

            .toggle::after {
                position: absolute;
                left: 0;
                width: 20px;
                height: 20px;
                transition: left 0.2s;
                border-radius: 50%;
                background-color: $FONT_COLOR;
                content: '';
            }
        }
    }
}
