$block-class:"task-options-form";

.#{$block-class} {
    &__container {
        &--disabled {
            color: $DISABLED_FONT_COLOR;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

@at-root {
    .#{$block-class} {
        width: 700px;
        margin-top: 20px;
        margin-right: 50px;
        margin-bottom: 40px;
        margin-left: 50px;

        &__header {
            margin-top: 40px;
            color: $HEADER_FONT_COLOR;

            &--hidden {
                display: none;
            }

            &:hover {
                color: $BLACK;
            }
        }

        &__header-paragraph {
            padding-left: 35px;
        }

        &__radio-button {
            margin-right: 12px;
            font-size: 1.5em;
            vertical-align: middle;

            &:hover {
                color: $HOVER_GREEN;
            }

            &:focus {
                color: $ERROR_RED;
            }

            &--checked {
                color: $AVOCADO_GREEN;
            }
        }

        &__header-text-box {
            border-radius: 4px;

            &:focus {
                border-color: $LIGHT_GREEN;
            }
        }

        &__notify-user-warning {
            margin-bottom: 5px;
            margin-left: 55px;
            font-size: 12px;
        }

        &__notify-user-warning-text-box {
            @include text-input;

            width: 100%;
            min-height: 80px;
            resize: none;
            line-height: 40px;
        }

        &__divider {
            @extend .divider;

            margin-top: 40px;
        }

        &__check-container {
            @extend .divider;

            margin-top: 12px;
        }

        &__checkbox {
            @extend .small-icon;

            margin-right: 10px;
            margin-bottom: 10px;
            color: $DARKEST_GREEN;
            font-size: 1.75em;

            &--hidden {
                display: none;
                cursor: not-allowed;
            }

            &:hover {
                color: $BLACK;
            }

            &--disabled {
                @extend .small-icon;

                margin-right: 10px;
                margin-bottom: 10px;
                color: $LIGHT_GRAY !important;
                font-size: 1.75em;
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }
}
