$block-class:'task-options-form';

.#{$block-class} {
    &__container {
        &--disabled {
            color: #d9d9d9 !important;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

@at-root {
    .#{$block-class} {
        width: 700px;
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 50px;
        margin-right: 50px;

        &__header {
            margin-top: 40px;

            &--hidden {
                display: none;
            }
        }

        &__header-paragraph {
            padding-left: 35px;
        }

        &__radio-button {
            vertical-align: middle;

            &:hover {
                color: #4eb276;
            }

            &:focus {
                color: red;
            }

            &--checked {
                color: #4eb276;
            }

            font-size: 1.5em;
            margin-right: 12px;
        }

        &__header-text-box {
            margin-left: 50px;
            margin-right: 50px;

            &:focus {
                border-color: $brand-color;
            }
        }

        &__notify-user-warning {
            font-size: 12px;
            margin-left: 55px;
            margin-bottom: 5px;
        }

        &__notify-user-warning-text-box {
            width: 100%;
            resize: none;
            line-height: 40px;
            background-color: $header-footer;
        }

        &__divider {
            @extend .divider;

            margin-top: 40px;
        }
    }
}
