$block-class:'title-form';

@at-root {
    .#{$block-class} {
        padding: 16px;
        display: flex;
        width: 45vw;
        justify-content: flex-start;

        &__title-label {
            @extend .lead-font;

            &--flag {
                color: $error-color;
            }
        }

        &__title-input {
            @extend .basic-input;

            width: 43vw;
            margin-top: 8px;
            padding: 8px;

            &--flag {
                @extend .lead-font;

                border: 1px solid $error-color !important;
            }
        }

        &__hidden-button {
            display: none;
        }
    }
}
