$block-class:'title-form';

@at-root {
    .#{$block-class} {
        padding: 16px;
        display: flex;
        width: 45vw;

        &__title-label {
            @extend .lead-font;

            margin-left: 5px;
        }

        &__title-input,
        input:not(.grommetux-input) {
            margin-left: 8px;
            width: 42vw;
        }
    }
}
