$block-class: 'user-profile-form';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        min-height: 500px;
        min-width: 800px;
        margin-left: 20px;
        margin-right: 20px;

        &__tabs {
            flex-flow: row nowrap;
            margin-top: 1em;
            cursor: pointer;

            &__nav {
                display: flex;
                margin: 0 0 1em;
                border-bottom: 2px solid $BORDER_COLOR;
                padding-left: 0;
            }
        }

        &__tab {
            @extend .small-font;

            display: flex;
            margin: 12px 0 0;
            text-transform: uppercase;

            &__title {
                @extend .small-font;

                line-height: 24px;
                display: flex;
<<<<<<< HEAD
                padding: 5px 12px;
=======
                font-size: 14px;
                color: $PRIMARY_GREEN;
                padding-right: 12px;
>>>>>>> 3c3c2279bc91fd6e6cb0677eb2c6bd7b58a0034d
                border-bottom: none;
                justify-content: center;
                cursor: pointer;
            }

            &__link {
                &--active {
<<<<<<< HEAD
                    border-bottom: 2px solid $AVOCADO_GREEN;
=======
                    border-bottom: 2px solid $PRIMARY_GREEN;
>>>>>>> 3c3c2279bc91fd6e6cb0677eb2c6bd7b58a0034d
                }
            }
        }
    }
}
