$font-color-for-labels: #757575;
$block-class: 'user-profile-form';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        min-height: 500px;
        min-width: 800px;
        margin-left: 20px;
        margin-right: 20px;

        &__tabs {
            justify-content: flex-start;
            flex-flow: row nowrap;
            margin-top: 1em;
            cursor: pointer;

            .user-profile-form__tabs-account,
            .user-profile-form__tabs-groups,
            .user-profile-form__tabs-tasks,
            .user-profile-form__tabs-preference {
                .grommetux-tab__label {
                    font-size: 14px;
                    color: $font-color-for-labels;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }

            .grommetux-tab--active {
                border-bottom: 2px solid nth($brand-neutral-colors, 2);
                font-weight: bold;
            }

            label.grommetux-tab__label {
                border: none;
            }
        }
    }
}
