$block-class: 'export';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__instructions {
            @extend .med-font;

            margin: 20px 40px;
        }
    }
}
