$block-class: 'filter-wrapper';

@at-root {
    .#{$block-class} {
        @include workflow-header;

        justify-content: space-between;

        &__add-button {
            @extend .button;

            margin-left: 8px;
            border-radius: 2px;
        }
    }
}
