$block-class: "sub-nav-entry";

@at-root {
    .#{$block-class} {
        @extend .lead-font;

        text-align: center;
        cursor: pointer;

        &--selected {
            padding-bottom: 0.25px;
            border-bottom: 2px solid $PRIMARY_GREEN;
            color: $PRIMARY_GREEN;
        }
    }
}
