$block-class: 'sub-nav';

@at-root {
    .#{$block-class} {
        // @media (min-width: 992px
        &__spacer {
            //

            &-container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}
