$block-class: 'sub-nav-entry';

@at-root {
    .#{$block-class} {
        @extend .lead-font;

        text-align: center;
        cursor: pointer;

        &--selected {
            border-bottom: 2px solid $PRIMARY_GREEN;
            padding-bottom: 0.25px;
            color: $PRIMARY_GREEN;
        }
    }
}
