$block-class: 'sub-nav-entry';

@at-root {
    .#{$block-class} {
        font-size: 14px;
        line-height: 18px;
        color: #727882;
        text-align: center;
        margin-top: 2em;
        padding-bottom: 22px;
        cursor: pointer;

        &.selected {
            border-bottom: 5px solid #3b9f22;
            padding-bottom: 17px;
            color: $brand-color;
        }
    }
}
