$block-class: 'sub-nav';

@at-root {
    .#{$block-class} {
        // @media (min-width: 992px
        &__spacer {
            //
            &-container {
                display: flex;
                width: 25%;
                margin-left: 5%;
                flex: 1;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
