$block-class: 'sub-nav';

@at-root {
    .#{$block-class} {
        &__spacer-container {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-around;

            @media (width: 768px) {
                width: 70%;
            }
        }
    }
}
