$block-class: 'survey-builder';

@at-root {
    .#{$block-class} {
        &__pane {
                display: flex;
                flex-direction: row;
                flex: 1;
            }
    }
}
