$block-class:'login-form';

@at-root {
    .#{$block-class} {
        text-align: center;
        padding-bottom: 16px;

        &__field {
            padding-bottom: 16px;
            width: 384px;
        }

        &__input {
            background-color: white;
            width: 100%;
            padding: 16px;
            border: 2px solid $LIGHT_GRAY;

            &:focus,
            &:active {
                border: 2px solid $LIGHT_GREEN;
                outline: none;
            }
        }

        &__signin-button {
            @extend .button;

            width: 100%;
        }
    }
}
