$block-class:'login-form';

@at-root {
    .#{$block-class} {
        text-align: center;
        padding-bottom: 16px;

        &__field {
            padding-bottom: 16px;
            width: 384px;
        }

        &__input {
            background-color: $INPUT_COLOR;
            color: $INPUT_TEXT_COLOR;
            width: 100%;
            padding: 16px;
            border: 1.5px solid $INPUT_BORDER_COLOR;
            border-radius: 4px;

            &:focus,
            &:active {
                border: 2px solid $INPUT_ACTIVE_BORDER_COLOR;
                outline: none;
            }
        }

        &__signin-button {
            @extend .button;

            width: 100%;
        }
    }
}
