$block-class:'login-panel';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 2em;

        &__title {
            @extend .large-font;

            margin-bottom: 16px;
        }

        &__remember-me {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__remember-checkbox {
            margin: 0;
        }

        &__remember-text {
            margin: 4px 0 0 5px;
        }

        &__link {
            cursor: pointer;
        }
    }
}
