/*
 * Button Font - proper styling of font inside buttons.
 */
@mixin button-font {
    font-family: PTSans-Bold, sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
}

/*
 * Button Padding - sizing, and styling of border of button.
 */
@mixin button-padding {
    min-width: 120px;
    max-width: 384px;
    padding: 12px 14px;
    border-radius: 4px !important;
    outline: none;
}

.button {
    @include button-font;
    @include button-padding;

    border: 1.5px solid $PRIMARY_BUTTON_BORDER_COLOR;
    border-radius: 4px;
    background-color: $PRIMARY_BUTTON_BACKGROUND_COLOR;
    color: $PRIMARY_BUTTON_TEXT_COLOR;
    cursor: pointer;

    &:hover {
        border: 1.5px solid $PRIMARY_BUTTON_HOVER_BORDER_COLOR;
        background-color: $PRIMARY_BUTTON_HOVER_BACKGROUND_COLOR;
        color: $PRIMARY_BUTTON_HOVER_TEXT_COLOR;
    }

    &:disabled {
        @extend .disabled-button;
    }
}

.secondary-button {
    @include button-font;
    @include button-padding;

    border: none;
    background-color: $SECONDARY_BUTTON_BACKGROUND_COLOR;
    color: $SECONDARY_BUTTON_TEXT_COLOR;
    cursor: pointer;

    &:hover {
        border: none;
        background-color: $SECONDARY_BUTTON_HOVER_BACKGROUND_COLOR;
        color: $SECONDARY_BUTTON_HOVER_TEXT_COLOR;
    }
}

.disabled-button {
    @include button-font;
    @include button-padding;

    border: none;
    background: transparent;
    opacity: 0.3;
    color: $LIGHT_GRAY;
    cursor: not-allowed;
}
