
.lead-font {
    color: $HEADER_FONT_COLOR;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.lead-font-bold {
    color: $HEADER_FONT_COLOR;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.x-small-font {
    color: $FONT_COLOR;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.small-font {
    color: $FONT_COLOR;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.med-font {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.large-font {
    color: $HEADER_FONT_COLOR;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.8px;
    line-height: 1.5;
}

.x-large-font {
    color: $HEADER_FONT_COLOR;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.8px;
    line-height: 1.5;
}

.stage-font-bold {
    @extend .small-font;

    font-weight: 500;
    line-height: 20px;
}
