$block-class: 'menu';

@at-root {
    .#{$block-class} {
        padding-top: 5px;

        &__icon {
            @extend .x-small-icon;

            fill: $lead-font-color;
        }

        &__dropdown {
            display: block;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 6px;
            z-index: 1;
        }

        &__insert-label {
            padding: 0.5em;
            font-size: 12px;
        }

        &__options {
            display: flex;
            flex-direction: column;
            margin-top: 8px;
        }

        &__button {
            @extend .button;

            margin-right: 15px;
        }
    }
}
