$block-class: 'menu';

@at-root {
    .#{$block-class} {
        padding-top: 5px;

        &__icon {
            @extend .small-icon;
        }

        &__dropdown {
            display: block;
            position: absolute;
            min-width: 160px;
            padding: 6px;
            background-color: $PAGE_BACKGROUND_COLOR;
            box-shadow: 0 4px 16px 0 $DARK_GRAY;
            z-index: 1;
        }

        &__insert-label {
            padding: 0.5em;
            font-size: 12px;
        }

        &__options {
            display: flex;
            flex-direction: column;
            margin-top: 8px;
        }

        &__button {
            @extend .secondary-button;

            margin-bottom: 8px;
        }
    }
}
