/*
    Text Input - Used anywhere text can be written into field.
 */
@mixin text-input {
    border-radius: 2px;
    border: 1px solid $LIGHT_GRAY;
    background-color: transparent;
    padding: 12px 14px;

    &:focus,
    &:active {
        border: 2px solid $LIGHT_GREEN;
        outline: none;
    }

    &:disabled {
        background-color: $PRIMARY_GRAY;
        border: 1px solid $LIGHT_GRAY;
        cursor: not-allowed;
    }
}

/*
    PM Sub Header - PM/Project headers above Workflow, Survey, Users, Subject and Export.
 */
@mixin pm-sub-header {
    display: flex;
    background-color: $LIGHT_GRAY;
    border: 1px solid $border-color;
    padding: 24px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

@mixin preference-tab-inputs {
    color: #51545c;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    margin: 0;

    &:focus {
        padding: 9px 21px;
        border: 2px solid $brand-color;
    }
}
