
@mixin preference-tab-inputs {
    @extend .lead-font;

    padding: 11px 23px;
    border: 2px solid $BORDER_COLOR;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    margin: 0;

    &:focus {
        padding: 9px 21px;
        border: 2px solid $INDABA_COLOR;
    }
}
