/* stylelint-disable */
$HOVER_GREEN: $DARKEST_GREEN;
$ERROR_RED: red; // change when color is selected
$BACKGROUND_WHITE: $SNOW;

// found in styles moving to named colors
$PAGE_BACKGROUND_COLOR: $BACKGROUND_WHITE;

// TODO: fix these with proper colors
$HEADER_FONT_COLOR: $BLACK;
$FONT_COLOR: $DARK_GRAY;
$DISABLED_FONT_COLOR: lighten($FONT_COLOR, 40%);
$BORDER_COLOR: $LIGHT_GRAY; // going to replace with shadow box in future
$ELEMENT_BACKGROUND: $BACKGROUND_WHITE;
$FONT_INVERSE_COLOR: $BACKGROUND_WHITE;
$ICON_COLOR: $PRIMARY_GREEN;
$ICON_COLOR_HOVER: $DARKEST_GREEN;
$MODAL_BACKGROUND_COLOR: rgba(255, 255, 255, 0.8); // to create opacity on background we need rgba value

//Navigation colors
$NAVIGATION_BACKGROUND_COLOR: transparent;
$NAVIGATION_ITEM_COLOR: $ANCHOR_GRAY;
$NAVIGATION_ITEM_HOVER_COLOR: $DARKEST_GREEN;
$NAVIGATION_ITEM_FOCUS_COLOR: $DARKEST_GREEN;
$NAVIGATION_ITEM_ACTIVE_FOCUS_COLOR: $BLACK;

// Input colors
$INPUT_COLOR: $LIGHT_GRAY;
$INPUT_BORDER_COLOR: $LIGHT_GRAY;
$INPUT_TEXT_COLOR: $ANCHOR_GRAY;
$INPUT_ACTIVE_BORDER_COLOR: $CLOUD_GRAY;

//Primary buttons
$PRIMARY_BUTTON_BACKGROUND_COLOR: transparent;
$PRIMARY_BUTTON_BORDER_COLOR: $AVOCADO_GREEN;
$PRIMARY_BUTTON_TEXT_COLOR: $AVOCADO_GREEN;

$PRIMARY_BUTTON_HOVER_BACKGROUND_COLOR: $AVOCADO_GREEN;
$PRIMARY_BUTTON_HOVER_TEXT_COLOR: $LIGHTEST_GREEN;
$PRIMARY_BUTTON_HOVER_BORDER_COLOR: $PRIMARY_BUTTON_BORDER_COLOR;

//Secondary buttons
$SECONDARY_BUTTON_BACKGROUND_COLOR: transparent;
$SECONDARY_BUTTON_TEXT_COLOR: $PRIMARY_BUTTON_TEXT_COLOR;

$SECONDARY_BUTTON_HOVER_BACKGROUND_COLOR: transparent;
$SECONDARY_BUTTON_HOVER_TEXT_COLOR: $DARKEST_GREEN;

// grommet brand colors (we should be able to remove this now that grommet is gone)
$INDABA_GREEN: $LIGHT_GREEN;
$LAYER_OVERLAY_BACKGROUND_COLOR: $PRIMARY_GRAY;
$LAYER_BACKGROUND_COLOR: none;
