/*
    Table Styles to be used across the app
 */

// Full Table - to be used at top of block
.table-full {
    border: 2px solid $BORDER_COLOR;
    border-radius: 4px;
    background-color: $PAGE_BACKGROUND_COLOR;
}

@mixin table-header {
    display: flex;
    padding: 16px 16px;
    background-color: $LIGHT_GRAY;

    &__title {
        @extend .lead-font;
    }
}

.table-body {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 14px 14px;

    @extend .lead-font;

    &:hover {
        background-color: $LIGHTEST_GRAY;
        color: $HEADER_FONT_COLOR;
    }
}
