/*
    Text Input - Used anywhere text can be written into field.
 */
@mixin text-input {
    @extend .lead-font;

    border-radius: 2px;
    color: $INPUT_TEXT_COLOR;
    border: 1px solid $INPUT_BORDER_COLOR;
    background-color: $INPUT_COLOR;
    padding: 12px 14px;

    &:focus,
    &:active {
        border: 2px solid $INPUT_ACTIVE_BORDER_COLOR;
        outline: none;
    }

    // TODO: fix the disabled
    &:disabled {
        color: $DISABLED_FONT_COLOR;
        cursor: not-allowed;
    }

    &--flag {
        color: $BLACK;
        border: 2px solid $BLACK;
    }
}
