$block-class: 'user-task-list-controls';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        padding: 2em;

        &__filter-query {
            margin-right: 5%;
            margin-left: 5%;
        }

        &__filter {
            margin-top: 1.5em;
        }
    }
}
