$block-class: "user-task-list-header";

@at-root {
    .#{$block-class} {
        @include table-header;

        &__title {
            &--subject,
            &--task,
            &--survey {
                flex: 1;
            }

            &--flags,
            &--activity,
            &--due {
                flex: 1;
            }
        }
    }
}
