$block-class: "user-task-list-entry";

@at-root {
    .#{$block-class} {
        @extend .table-body;

        &__cell {
            &--due,
            &--flags,
            &--activity {
                flex: 1;
            }

            &--flags {
                align-self: stretch;
                margin-top: -0.5em;
            }

            &--subject,
            &--task,
            &--survey {
                flex: 1;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow-x: hidden;
            }
        }
    }
}
