$block-class: 'user-task-list-header';

@at-root {
    .#{$block-class} {
        display: flex;
        padding: 16px 16px;
        background-color: $LIGHT_GRAY;

        &__title {
            color: $HEADER_FONT_COLOR;
            font-size: 16px;

            &--subject,
            &--task,
            &--survey {
                flex: 1;
            }

            &--flags,
            &--activity,
            &--due {
                flex: 1;
            }
        }
    }
}
