$block-class:'bool';

@at-root {
    .#{$block-class} {
        &__field {
            @extend .lead-font;

            :last-child {
                margin-left: 10px;
                margin-right: 5px;
            }
        }

        .bool__input {
            margin-right: 5px;
        }
    }
}
