$block-class:'bullet';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__field {
            padding: 0.2em;
            margin: 0.2em;
            width: 50%;
        }
    }
}
