$block-class:"bullet";

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__field {
            width: 50%;
            margin: 0.2em;
            padding: 0.2em;
        }
    }
}
