$block-class:'dropdown';

@at-root {
    .#{$block-class} {
        &__field {
            width: 50%;
        }

        &__field-disabled {
            width: 50%;
            background-color: #ebebe4;
            padding: 0.1em;
        }
    }
}
