$block-class:'dropdown';

@at-root {
    .#{$block-class} {
        &__field {
            width: 50%;

            &--disabled {
                background-color: $PAGE_BACKGROUND_COLOR;
                padding: 0.1em;
            }
        }
    }
}
