$block-class:'flag-question-list';

@at-root {
    .#{$block-class} {
        min-width: 120px;

        &__item {
<<<<<<< HEAD
            @extend .small-font;

=======
            padding: 1em 2em;
            border-bottom: 1px solid $border-color;;
            font-size: 12px;
>>>>>>> 771c1e2bc61ef549ced122a0276f44761225dee8
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                background-color: darken($element-background, 5);
            }

            &--selected {
                background-color: #399862;
                color: #fff;
                font-size: 12px;
            }

            &--inactive {
                border-right: 2px solid #4eb276;
            }
        }
    }
}
