$font-color: #a4aebf;
$brand-neutral-colors: (#308253, #4eb276);

$block-class:'flag-controls';

@at-root {
    .#{$block-class} {
        display: block;
        margin-top: 16px;

        &__checkbox {
            justify-content: flex-start;
            flex-flow: nowrap;

            &-resolved {
                @extend .small-font;

                color: $lead-font-color;
            }
        }

        &__notify {
            color: $lead-font-color;
            margin-top: 16px;
            margin-bottom: 1em;

            .Select-control {
                border: 1px solid $lead-font-color;
                border-radius: 2px;
                height: 32px;
                margin-top: 8px;
            }
        }

        &__button-group {
            margin-top: 5px;
            float: right;

            &-send {
                margin-left: 5px;
            }
        }
    }
}

.grommetux-check-box__label {
    margin-right: 0;
}

.grommetux-check-box__control {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 2px solid $lead-font-color;
    margin-right: 0;
    background-color: $font-inverse-color;
}
