$block-class:"flag-sidebar";

@at-root {
    .#{$block-class} {
        margin: 1em;

        &__container {
            display: flex;
            position: relative;
            flex-flow: nowrap;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 1em;
            background-color: $ELEMENT_BACKGROUND;
        }

        &__controls {
            width: 100%;
        }
    }
}
