$block-class:'flag-header';

@at-root {
    .#{$block-class} {
        margin-left: 10px;

        &__title {
            @extend .large-font;
            font-weight: 300;
        }

        &__info {
            @extend .small-font;
        }
    }
}
