$block-class:'flag-commentary';

@at-root {
    .#{$block-class} {
        &__frame {
            color: $FONT_COLOR;
            padding: 1em;
            background: $WHITE;
            font-size: 14px;
        }

        &__timestamp {
            margin-bottom: 3px;
            color: $AVOCADO_GREEN;
            font-weight: bold;
        }
    }
}
