$font-color: #a4aebf;
$brand-neutral-colors: (#308253, #4eb276);

$block-class:'flag-controls';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__checkbox {
            margin-top: 1em;
            justify-content: flex-start;
            flex-flow: nowrap;
        }

        &__notify {
            margin-top: 0;
            margin-bottom: 1em;
        }

        &__button-group {
            margin-top: 5px;
            float: right;

            &-send {
                margin-left: 5px;
            }
        }
    }
}

.grommetux-check-box__label {
    margin-right: 0;
}
