$block-class:'flag-question-list';

@at-root {
    .#{$block-class} {
        min-width: 120px;

        &__item {
            @extend .small-font;

            white-space: nowrap;
            overflow: hidden;

            &:hover {
                background-color: darken($element-background, 5);
            }

            &:active {
                background-color: #399862;
                color: $font-inverse-color;
            }

            &--selected {
                background-color: #399862;
                color: #fff;
                font-size: 12px;

                &:active,
                &:visited {
                    background-color: nth($brand-neutral-colors, 2);
                    color: #fff;
                }
            }

            &--inactive {
                ///
            }
        }
    }
}
