$block-class:'flag-question-list';

@at-root {
    .#{$block-class} {
        min-width: 120px;

        &__item {
            @extend .small-font;

            padding: 1em 2em;
            border-bottom: 1px solid $BORDER_COLOR;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                background-color: darken($ELEMENT_BACKGROUND, 5);
                color: $LEAD_FONT_COLOR;
            }

            &--selected {
                background-color: darken($ELEMENT_BACKGROUND, 5);
                border-right: 3px solid #4eb276;
                color: $LEAD_FONT_COLOR;
                font-size: 12px;
            }

            &--inactive {
                border-right: 2px solid #4eb276;
            }
        }
    }
}
