$block-class:'question-container';

@at-root {
    .#{$block-class} {
        border-bottom: 1px solid $border-color;
        padding: 16px;

        &:last-child {
            border-width: 0;
        }

        &__summary {
            @extend .lead-font;

            pointer-events: none;
        }
    }
}
