$block-class:'questions';

@at-root {
    .#{$block-class} {
        margin: 0 0 5px 5px;

        &__type {
            padding: 0 0 1em;
        }

        &__option-panel {
            padding: 0 0.5em 0.5em 0;
        }

        &__label {
            margin-left: 3px;
        }

        &__link-fields-top {
            border: 1px solid $border-color;
            display: flex;
            flex-direction: row;
            flex: 1;
            background-color: #fff;
        }

        &__add-link {
            width: 10%;
            text-align: center;
            padding: 0.2em;
        }

        &__link-input {
            border: none;
            border-left: 1px solid $border-color;
            width: 90%;
        }

        &__link-fields-bottom {
            margin-top: 0.4em;
            display: flex;
            flex-direction: row;

            input {
                padding: 0.3em;
                border: 1px solid $border-color;
            }
        }

        &__title-input {
            width: 50%;
        }

        &__author-input {
            width: 35%;
        }

        &__date-input {
            background-color: #fff;

            // .grommetux-date-time__input,
            // .grommetux-date-time__input:focus {
            //     border-radius: 0;
            //     font-size: 14px;
            //     border: 1px solid $border-color;
            //     padding: 0.3em;
            // }
        }

        &__date-disabled {
            text-transform: uppercase;
        }
    }
}
