$block-class:"questions";

@at-root {
    .#{$block-class} {
        margin: 0 0 5px 5px;

        &__type {
            padding: 0 0 1em;
        }

        &__option-panel {
            padding: 0 0.5em 0.5em 0;
        }

        &__label {
            margin-left: 3px;
        }

        &__link-fields-top {
            display: flex;
            flex-direction: row;
            border: 1px solid $BORDER_COLOR;
        }

        &__add-link {
            width: 10%;
            padding: 0.2em;
            text-align: center;
        }

        &__link-input {
            @include text-input;

            width: 90%;
        }

        &__link-fields-bottom {
            display: flex;
            flex-direction: row;
            margin-top: 0.4em;
        }

        &__title-input {
            @include text-input;

            width: 50%;
        }

        &__author-input {
            @include text-input;

            width: 35%;
        }

        &__date-input {
            background-color: $WHITE;
        }

        &__date-disabled {
            text-transform: uppercase;
        }
    }
}
