$block-class:"question-container";

@at-root {
    .#{$block-class} {
        padding: 16px;
        border-bottom: 2px solid $BORDER_COLOR;

        summary::-webkit-details-marker {
            font-size: 15px;
        }

        &:last-child {
            border-width: 0;
        }

        &__summary {
            @extend .lead-font;

            &::before {
                font-size: 15px;
            }

            pointer-events: none;
        }
    }
}
