$block-class:'review-pane';

@at-root {
    .#{$block-class} {

        &__controls {
            margin-top: 10px;
        }

        &__radio-controls {
            margin-left: 2em;
        }

        &__comment {
            margin: 0 2em 1em 2em;
            width: 75%;
            height: 7em;
        }
    }
}
