$block-class:'review-pane';

@at-root {
    .#{$block-class} {
        &__display {
            margin: 1em 2em;
            color: $FONT_COLOR;
            border: 1px solid $FONT_COLOR;
            background-color: $PAGE_BACKGROUND_COLOR;
            padding: 0.5em;
            width: 75%;
        }

        &__comment {
            margin: 0 0.5em;

            &-reason {
                color: $INDABA_GREEN;
                font-weight: bold;
            }

            &-signature {
                margin: 0 0 0.3em 0.5em;
            }
        }

        &__controls {
            margin-top: 10px;
        }

        &__radio-controls {
            margin-left: 2em;
        }

        &__text {
            margin: 0 2em 1em;
            width: 75%;
            height: 7em;
        }
    }
}
