$block-class:'scale';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__instructions {
            margin: 0.2em;
        }

        &__field {
            width: 20%;
            margin: 0.2em;
            padding: 0.2em;
            text-align: center;

            &--disabled {
                width: 20%;
            }
        }
    }
}
