$block-class:'scale';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__instructions {
            margin: 0.2em 0;
        }

        &__field {
            width: 8%;
            text-align: center;
            margin: 0.2em 0;
        }
    }
}
