$block-class:'survey-pane';

@at-root {
    .#{$block-class} {
        margin-left: 1em;

        &__controls {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 1em;
        }

        &__accordion-buttons {
        }

        &__instructions {
            margin-top: 1em;

            &-header {
                color: #a4aebf;
                text-transform: uppercase;
            }

            &-explained {
                display: block;
            }
        }
    }
}
