$border-color: #e6edef;
$element-background: #f3f5f6;
$block-class:'survey-pane';

@at-root {
    .#{$block-class} {
        &__controls {
            display: flex;
            justify-content: space-between;
            margin: 8px 4px;
            padding-bottom: 8px;
            width: 100%;
            border-bottom: 2px solid $border-color;
        }

        &__select {
            width: 40%;
        }

        &__accordion-buttons {
            //
        }

        &__instructions {
            margin-top: 1em;

            &-header {
                color: #a4aebf;
                text-transform: uppercase;
            }

            &-explained {
                display: block;
            }
        }
    }
}
