$block-class: 'survey-presentation';

@at-root {
    .#{$block-class} {
        border: 1px solid $BORDER_COLOR;

        .grommetux-header {
            min-height: 0;
        }

        .grommetux-box--separator-bottom {
            border-bottom: 0;
        }

        &__submit {
            width: 100%;
            margin-right: 5%;
            padding: 16px 8px;
            border-top: 2px solid $BORDER_COLOR;
            bottom: 0;
        }

        &__submit-instructions {
            font-size: 16px;
            color: $LEAD_FONT_COLOR;
            font-weight: 400;
            margin: 8px;
        }

        &__section-name {
            @extend .large-font;

            color: #333;
            border-bottom: 2px solid darken($BORDER_COLOR, 5);
            padding: 16px 0;
            margin-bottom: 16px;
            margin-left: 15px;
            width: 100%;
            background-color: #fafafa;
            outline: none;
        }

        &__submit-button {
            @extend .button;

            &--disabled {
                @extend .disabled-button;
            }
        }
    }
}
