$block-class:'survey-pane';

@at-root {
    .#{$block-class} {
        background-color: $BACKGROUND_WHITE;

        @include multi-select-styles;

        &__controls {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            width: 100%;
            padding: 16px;
            border-bottom: 1px solid $BORDER_COLOR;
        }

        &__accordion-buttons {
            margin-right: 8px;
        }

        &__button-expand {
            @extend .button;
        }

        &__button-collapse {
            @extend .button;
        }

        &__select {
            width: 70%;
        }

        &__instructions {
            padding: 16px;

            &-header {
                color: $ANCHOR_GRAY;
                font-size: 12px;
            }

            &-explained {
                @extend .small-font;

                display: block;
            }
        }
    }
}
