$block-class: "survey-presentation";

@at-root {
    .#{$block-class} {
        border: 2px solid $BORDER_COLOR;

        &__submit {
            bottom: 0;
            width: 100%;
            margin-right: 5%;
            padding: 16px 8px;
            border-top: 2px solid $BORDER_COLOR;
        }

        &__submit-instructions {
            margin: 8px;
            color: $HEADER_FONT_COLOR;
            font-size: 16px;
            font-weight: 400;
        }

        &__section-name {
            @extend .large-font;

            width: 100%;
            margin-bottom: 16px;
            margin-left: 15px;
            padding: 16px 0;
            border-bottom: 2px solid $BORDER_COLOR;
            outline: none;
            background-color: $PAGE_BACKGROUND_COLOR;
        }

        &__submit-button {
            @extend .button;

            &--disabled {
                @extend .disabled-button;
            }
        }
    }
}
