$block-class:'task-review';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;

        &__details-and-survey {
            padding-top: 1em;
            width: 65%;
            height: calc(100vh - #{$primary-nav-height});
            overflow-y: scroll;
            position: relative;
        }

        &__flag-sidebar {
            background: #f1f1f1;
            width: calc(35% + 2.5em);
            margin-right: -2.5em;
            padding-right: 2.5em;
        }

        &__back-link {
            display: flex;
            align-items: flex-end;
        }

        &__back-arrow {
            fill: $header-font-color;
        }
    }
}
