$border-color: #e6edef;
$element-background: #f3f5f6;
$block-class:'task-review';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        border-left: 2px solid $border-color;

        &__details-and-survey {
            width: 65%;
            height: calc(100vh - #{$primary-nav-height} - #{$footer-height-with-padding});
            overflow-y: scroll;
            position: relative;
        }

        &__flag-sidebar {
            display: flex;
            background: $element-background;
            width: calc(35% + 2.5em);
            margin-right: -2.5em;
            padding-right: 2.5em;
        }

        &__back-link {
            display: flex;
            align-items: flex-end;
            padding-top: 24px;
            background-color: $element-background;
        }

        &__back-arrow {
            fill: #337ab7;
            width: 12px;
            margin-right: 2px;
            margin-left: 2px;
        }
    }
}
