$block-class: 'project-list-entry';
$block-class-header: 'project-list-header';

@at-root {
    .#{$block-class} {
        @extend .table-body;

        &__name {
            flex: 2;
            margin-left: 14px;
            text-align: left;
        }

        &__status {
            flex: 1;
            margin-right: 48px;
            text-align: left;

            &--active {
                color: $KALE_GREEN;
            }
        }

        &__flags {
            flex: 1;
            align-self: stretch;
            margin-top: -0.5em;
        }

        &__last-updated {
            display: flex;
            flex: 1;
            text-align: left;
        }
    }
}

@at-root {
    .#{$block-class-header} {
        @include table-header;

        &__title {
            &--project {
                flex: 3;
                margin-left: 14px;
                text-align: left;
            }

            &--survey {
                flex: 3;
                margin-left: 56px;
                text-align: left;
            }

            &--flags {
                flex: 1;
                margin-left: 40px;
                text-align: left;
            }

            &--last-updated {
                display: flex;
                flex: 1;
                text-align: left;
            }
        }
    }
}
