$block-class: 'activate-form';

@at-root {
    .#{$block-class} {
        width: 30em;
        text-align: center;

        &__label {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-bottom: 0.25em;

            @extend .small-font;
        }

        &__field {
            width: 20em;
            margin-left: 8px;
            padding: 0.5em 1em;
            border: 1px solid $BORDER_COLOR;

            &:focus,
            &:active {
                border: 2px solid $LIGHT_GREEN;
                outline: none;
            }
        }

        &__submit {
            @extend .button;
        }
    }
}
