$block-class: 'activate-form';

@at-root {
    .#{$block-class} {
        text-align: center;
        width: 30em;

        &__label {
            padding-bottom: 0.25em;
            display: flex;
            justify-content: space-around;
            align-items: center;

            @extend .small-font;
        }

        &__field {
            border: 1px solid $border-color;
            padding: 0.5em 1em;
            margin-left: 8px;
            width: 20em;

            &:focus,
            &:active {
                border: 2px solid $LIGHT_GREEN;
                outline: none;
            }
        }

        &__submit {
            @extend .button;
        }
    }
}
