$block-class:'subject-form';

@at-root {
    .#{$block-class} {
        padding: 1em;

        &__instructions {
            @extend .small-font;

            margin-bottom: 1em;
            color: $DARK_GRAY;
        }

        &__input-field {
            @include text-input;

            width: 100%;
        }
    }
}
