$block-class: 'user-task-list-entry';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 8px 16px;

        @extend .lead-font;

        &:hover {
            background-color: darken(#fafafa, 5%);
            color: $lead-font-color;
        }

        &__cell {
            &--subject,
            &--task,
            &--survey {
                flex: 1;
            }

            &--due,
            &--flags {
                flex: 1;
            }

            &--flags {
                align-self: stretch;
                margin-top: -0.5em;
            }

            &--subject,
            &--task,
            &--survey {
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
