$block-class:'user-dashboard';

@at-root {
    .#{$block-class} {
        margin-left: 5%;
        margin-right: 5%;

        &__table {
            border: 2px solid $border-color;
            border-radius: 2px;
            background-color: $page-background-color;
        }
    }
}
