$block-class: 'user-task-list-header';

@at-root {
    .#{$block-class} {
        display: flex;
        padding: 8px 16px;

        &__title {
            color: $lead-font-color;

            @extend .small-font;

            &--subject,
            &--task,
            &--survey {
                flex: 2;
            }

            &--flags,
            &--due,
            &--progress {
                flex: 1;
            }
        }
    }
}
