$block-class: 'add-question-panel';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 320px;
        border: 1px solid $border-color;
        margin-top: 48px;
        background-color: #f7f7f7;

        &__instructions {
            text-align: center;
            margin: 8px;
        }

        &__tab {
            @extend .tab !optional;

            &__link--active {
                @extend .tab__link--active !optional;

                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;
                border-top: 1px solid $border-color;
            }

            &__label {
                @extend .tab__label !optional;
            }

            &__title {
                @extend .tab__title !optional;

                padding-inline-start: 0;
            }
        }
    }
}
