$block-class: "add-question-panel";

@at-root {
    .#{$block-class} {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 320px;
        margin-top: 48px;
        border: 2px solid $BORDER_COLOR;
        border-radius: 4px;
        background-color: $WHITE;

        &__instructions {
            margin: 8px;
            text-align: center;
        }

        &__tab {
            @extend .tab !optional;

            &__link--active {
                @extend .tab__link--active !optional;

                border-top: 2px solid $BORDER_COLOR;
                border-right: 2px solid $BORDER_COLOR;
                border-left: 2px solid $BORDER_COLOR;
            }

            &__label {
                @extend .tab__label !optional;
            }

            &__title {
                @extend .tab__title !optional;

                padding-inline-start: 0;
            }
        }
    }
}
