$block-class: 'add-question-panel';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 320px;
        border: 2px solid $BORDER_COLOR;
        margin-top: 48px;
        background-color: $PAGE_BACKGROUND_COLOR;

        &__instructions {
            text-align: center;
            margin: 8px;
        }

        &__tab {
            @extend .tab !optional;

            &__link--active {
                @extend .tab__link--active !optional;

                border-left: 2px solid $BORDER_COLOR;
                border-right: 2px solid $BORDER_COLOR;
                border-top: 2px solid $BORDER_COLOR;
            }

            &__label {
                @extend .tab__label !optional;
            }

            &__title {
                @extend .tab__title !optional;
            }
        }
    }
}
