$block-class: 'create-section-panel';

@at-root {
    .#{$block-class} {
        border: 2px solid $border-color;

        &__section-name {
            border-top: none;
            border-left: none;
            border-right: none;
            padding: 16px;
            margin-bottom: 24px;
            width: 100%;
            font-size: 1.6em;
            color: $lead-font-color;
            background-color: #fafafa;
            outline: none;

            &:focus {
                outline: none;
                border-bottom: 2px solid $brand-color;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }
    }
}
