$block-class: 'create-section-panel';

@at-root {
    .#{$block-class} {
        border-top: 1px solid $BORDER_COLOR;

        &__section-header {
            display: flex;
            margin-bottom: 24px;
            border-bottom: 2px solid $BORDER_COLOR;
        }

        &__section-name {
            @extend .large-font;

            color: #333;
            border: none;
            padding: 16px;
            margin-left: 2px;
            width: 100%;
            background-color: #fafafa;
            outline: none;

            &:focus {
                outline: none;
                border-bottom: 2px solid $LIGHT_GREEN;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }

        &__menu-button {
            background-color: Transparent;
            border: none;
            margin: 0 10px;
        }

        &__menu-icon {
            @extend .small-icon;
        }
    }
}
