$block-class: 'create-section-panel';

@at-root {
    .#{$block-class} {
        border: 2px solid $border-color;

        &__section-name {
            @extend .med-font;

            border-top: none;
            border-left: none;
            border-right: none;
            padding: 16px;
            margin-bottom: 24px;
            width: 100%;
            background-color: #fafafa;
            outline: none;

            &:focus {
                outline: none;
                border-bottom: 2px solid $brand-color;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }
    }
}
