$border-color: #dedede;

$block-class: 'create-survey-panel';

@at-root {
    .#{$block-class} {
        padding: 15px;
        width: 100%;

        &__view-controls {
            display: flex;
            padding: 16px;
            margin-top: 32px;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 2px;
            background-color: #f9f9f9;
            align-items: center;
            border: 1px solid $border-color;
        }

        &__view-select {
            width: 60%;
        }

        &__accordion-buttons {
            display: flex;
            flex-direction: row;
        }

        &__button-expand {
            border-radius: 2px;
            color: $font-inverse-color;
            letter-spacing: 0.3px;
            font-size: 12px;
            font-weight: 400;
            margin-right: 8px;
            background-color: #a4aebf;
            outline: none;

            &:hover {
                background-color: darken(#a4aebf, 5);
            }
        }

        &__button-collapse {
            color: $lead-font-color;
            border-radius: 2px;
            background-color: #fff;
            border: 2px solid $border-color;
            letter-spacing: 0.3px;
            font-size: 12px;
            font-weight: 400;
            outline: none;
            box-sizing: border-box;

            &:hover {
                background-color: darken($font-inverse-color, 3);
            }
        }

        &__survey-controls {
            padding: 16px;
            border: 1px solid $border-color;
            border-collapse: collapse;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        &__instructions {
            display: flex;
            flex-direction: column;
            padding: 16px;
            border: 1px solid $border-color;
            color: $font-color;

            &-entry {
                border: 1px solid $border-color;
                border-radius: 2px;
                padding: 8px;
                color: $lead-font-color;
                height: 5em;
                resize: none;
                margin-bottom: 4px;
                margin-top: 4px;
                background-color: #fafafa;

                &:focus {
                    border: 2px solid $brand-color;
                    outline: none;
                    padding: 8px;
                    box-sizing: border-box;
                }
            }
        }

        &__survey-save {
            letter-spacing: 0.3px;
            font-size: 12px;
            font-weight: 400;
            color: $font-inverse-color;
            background-color: nth($brand-neutral-colors, 2);
            border-radius: 2px;
            padding: 4px 8px;

            &:hover {
                letter-spacing: 0.3px;
                font-size: 12px;
                font-weight: 400;
                background: darken(#4eb276, 10);
                border-color: darken(#4eb276, 10);
                text-decoration: none;
            }
        }
    }
}
