$block-class: 'create-survey-panel';

@at-root {
    .#{$block-class} {
        padding: 15px;
        max-width: 60vw;

        &__instructions {
            display: flex;
            flex-direction: column;
            color: $font-color;
        }
        &__instructions-entry {
            border: none;
            color: $font-color;
            height: 80px;
            resize: none;
            margin-bottom: 5px;
            background-color: #fafafa;
        }
        &__sections-list {

        }
        &__section {

        }
        &__section-name {
            border-top: 2px solid $font-color;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            padding: 20px 0 10px 0;
            width: 100%;
            font-size: 18px;
            background-color: #fafafa;
        }
        &__question {

        }
    }
}
