$block-class: 'dynamic-question';

@at-root {
    .#{$block-class} {
        padding: 0 1em 0.5em;
        display: flex;
        flex-direction: column;

        &__choices {
            display: flex;
            flex-direction: column;
        }

        &__choices-fields {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 2px 2px 2px 20px;
        }

        &__choices-input {
            width: 25em;
            margin-bottom: 8px;
        }

        &__masked-button {
            background-color: Transparent;
            border: none;
            padding: 0;
            margin-left: 2px;
            margin-bottom: -5px;
        }

        &__icon {
            height: 18px;
            fill: $font-color;
        }

        &__weight-input {
            width: 5%;
            text-align: center;
        }

        &__instructions {
            @extend .small-font;

            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}
