$block-class: 'dynamic-question';

@at-root {
    .#{$block-class} {
        &__choices {
            display: flex;
            flex-direction: column;

            &-fields {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;
                padding: 4px;
            }

            &-group {
                display: flex;
            }

            &__input {
                width: 42vw;
                padding: 4px;

                @include text-input;
            }
        }

        &__scale {
            &-field {
                display: flex;
                flex-direction: row;
                margin-bottom: 8px;
            }

            &-label {
                width: 5%;
                padding-top: 5px;
            }

            &-input {
                width: 20%;
                padding: 4px;
                text-align: center;

                @include text-input;
            }
        }

        &__masked-button {
            margin-bottom: -5px;
            margin-left: 2px;
            padding: 0;
            border: none;
            background-color: Transparent;
        }

        &__icon {
            height: 18px;

            @extend .small-icon;
        }

        &__weight-input {
            flex-shrink: 0;
            width: 5%;
            text-align: center;

            @include text-input;
        }

        &__instructions {
            @extend .small-font;

            margin-top: 1em;
        }
    }
}
