$block-class: 'dynamic-question';

@at-root {
    .#{$block-class} {
        padding: 0 1em 0.5em;
        display: flex;
        flex-direction: column;

        &__choices {
            display: flex;
            flex-direction: column;

            &-fields {
                display: flex;
                justify-content: space-between;
                padding: 4px;
                margin-bottom: 8px;
            }

            &-group {
                display: flex;
            }

            &__input {
                padding: 4px;
                width: 50vw;

                &:focus,
                &:active {
                    border: 2px solid $brand-color;
                    outline: none;
                }
            }
        }

        &__scale {
            &-field {
                display: flex;
                flex-direction: row;
                padding: 4px;
                margin-bottom: 8px;
            }

            &-label {
                width: 5%;
                padding-top: 5px;
            }

            &-input {
                padding: 4px;
                width: 20%;
                text-align: center;

                &:focus,
                &:active {
                    border: 2px solid $brand-color;
                    outline: none;
                }
            }
        }

        &__masked-button {
            background-color: Transparent;
            border: none;
            padding: 0;
            margin-left: 2px;
            margin-bottom: -5px;
        }

        &__icon {
            height: 18px;

            @extend .small-icon;

            fill: lighten($header-font-color, 10%);
        }

        &__weight-input {
            width: 5%;
            text-align: center;
            color: $lead-font-color;
            outline: none;
            flex-shrink: 0;

            &:focus,
            &:active {
                border: 2px solid $brand-color;
                outline: none;
            }
        }

        &__instructions {
            @extend .small-font;

            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}
