$block-class: 'new-questions';

@at-root {
    .#{$block-class} {
        border-top: 2px solid $BORDER_COLOR;

        &__types {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            border-bottom: 2px solid $BORDER_COLOR;
            color: $HEADER_FONT_COLOR;
            font-size: 14px;
        }

        &__masked-button {
            padding: 5px 0 0 0;
            border: none;
            outline: none;
            background-color: Transparent;

            &:active {
                outline: none;
            }

            &-icon {
                @extend .x-small-icon;
            }
        }

        &__section-icon {
            @extend .small-icon;
        }

        &__break {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
            padding: 0 1em;
            border-top: 2px solid $BORDER_COLOR;
        }
    }
}
