$block-class: 'new-questions';

@at-root {
    .#{$block-class} {
        &__types {
            font-size: 14px;
            color: $lead-font-color;
            border-bottom: 1px solid $border-color;
            padding: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__masked-button {
            background-color: Transparent;
            border: none;
            padding: 5px 0 0 0;
            outline: none;

            &:active {
                outline: none;
            }

            &-icon {
                @extend .x-small-icon;

                fill: $lead-font-color;
            }
        }

        &__section-icon {
            fill: $lead-font-color;

            &:active {
                fill: $brand-color;
                outline: none;
            }
        }

        &__break {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1em;
            margin-top: 40px;
            border-width: 1px 0;
            border-style: solid;
            border-color: $border-color;
        }
    }
}
