$block-class: 'question-panel';

@at-root {
    .#{$block-class} {
        border: 1px solid $font-color;
        margin: 2px;

        &__header {
            margin: 5px;
            font-size: 17px;
        }

        &__text, textarea {
            border: none;
            width: 150vh;
            background-color: #fafafa;
        }

        &__optional-controls {
            margin: 10px;
            input {
                vertical-align: bottom;
                margin-bottom: 4px;
            }
        }

        &__attach-icon {
            margin-left: -4px;
            margin-bottom: -4px;
            fill: $font-color;
        }

        &__label {
            margin-left: -4px;
        }
    }
}
