$block-class: 'question-panel';

@at-root {
    .#{$block-class} {
        border: 1px solid $border-color;
        margin: 2px;

        &__header {
            margin: 5px;
            font-size: 1.3em;
            min-width: 50vw;
            display: flex;
            justify-content: space-between;
        }

        &__question {
            padding: 10px;
            width: 100%;
        }

        &__question-number {
        }

        &__question-text, textarea {
            width: 85%;
            border: none;
            background-color: #fafafa;
        }

        &__menu {
            border: 1px solid $border-color;
        }

        &__menu-button {
            background-color: Transparent;
            border: none;
        }

        &__option-panel {
            padding: 0 1em .4em 1em;
        }

        &__file-select {
            border-radius: 2px;
            padding: 0.2em 1em;
            display: inline-block;
            background-color: #d8d8d8;
            color: $header-font-color;
            cursor: pointer;
        }

        &__link-fields-top {
            border: 1px solid $border-color;
            display: flex;
            flex-direction: row;
            flex: 1;
            background-color: #fff;
        }

        &__add-link {
            width: 10%;
            text-align: center;
            padding: .2em;
        }

        &__link-input {
            border: none;
            border-left: 1px solid $border-color;
            width: 90%;
        }

        &__link-fields-bottom {
            margin-top: .4em;
            display: flex;
            flex-direction: row;
            input {
                padding: .3em;
                border: 1px solid $border-color;
            }
        }

        &__title-input {
            width: 50%;
        }

        &__author-input {
            width: 35%;
        }

        &__date-input {
            background-color: #fff;
            .grommetux-date-time__input, .grommetux-date-time__input:focus {
                border-radius: 0;
                font-size: 14px;
                border: 1px solid $border-color;
                padding: .3em;
            }
        }

        &__optional-controls {
            margin: .3em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 0 5px 10px;
        }

        &__additions {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__checkboxes {
            margin-right: 10px;
            vertical-align: bottom;
            background-color: #fafafa;
            input {
                margin-bottom: 6px;
                vertical-align: middle;
            }
        }

        &__attach-icon {
            vertical-align: top;
            margin-left: -4px;
            margin-bottom: -4px;
            fill: $font-color;
        }

        &__icon-label {
            margin-left: -4px;
        }

        &__label {
            margin-left: 3px;
        }

        &__help-icon {
            vertical-align: sub;
            height: 16px;
            fill: $font-color;
        }
    }
}
