$block-class: 'question-panel';

@at-root {
    .#{$block-class} {
        border: 2px solid $BORDER_COLOR;
        border-radius: 2px;
        background-color: #fff;
        padding: 1em;
        margin-bottom: 1em;

        &__header {
            font-size: 1.3em;
            display: flex;
            justify-content: space-between;
        }

        &__question {
            display: flex;
            flex-direction: column;
            width: 75%;

            &-number {
                @extend .small-font;

                margin-bottom: 12px;
                margin-left: 8px;
            }

            &-text {
                @include text-input;
            }
        }

        &__menu {
            display: flex;
            justify-content: space-between;
            border: none;
        }

        &__menu-button {
            @extend .secondary-button;
        }

        &__menu-icon {
            @extend .small-icon;
        }

        &__optional-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid $BORDER_COLOR;
            margin-top: 24px;
            padding-top: 16px;
        }

        &__additions {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__checkboxes {
            margin-right: 10px;
            vertical-align: bottom;
            background-color: #fff;

            input {
                margin-bottom: 6px;
                vertical-align: middle;
            }
        }

        &__attach-icon {
            vertical-align: top;
            margin-left: -4px;
            margin-bottom: -4px;
            fill: $FONT_COLOR;
        }

        &__icon-label {
            margin-left: -4px;
            cursor: pointer;
        }

        &__label {
            margin-left: 3px;
            cursor: pointer;
        }

        &__help-icon {
            vertical-align: sub;
            height: 16px;
            fill: $FONT_COLOR;
        }
    }
}
