$block-class: 'static-question';

@at-root {
    .#{$block-class} {
        padding: 0 1em .5em 1em;

        &__entry {
            display: flex;
            flex-direction: column;
        }

        &__bulletgroup {
            display: flex;
            flex-direction: column;
        }

        &__bulletpoint1 {
            width: 40%;
            padding: .2em;
            margin-bottom: .2em;
        }

        &__bulletpoint2 {
            width: 40%;
            padding: .2em;
        }

        &__date {
            width: 20%;
            padding: .2em;
            border: 1px solid #adadad;
            background-color: #EBEBE4;
        }

        &__integer {
            width: 20%;
            padding: .2em;
        }

        &__text {
            width: 40%;
            padding: .2em;
        }
    }
}
