$block-class: "static-question";

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        padding: 0 1em 0.5em;

        &__bool {
            &-field {
                margin-bottom: 24px;
                margin-left: 5px;
            }

            &-label {
                @extend .lead-font;

                margin-left: 5px;
            }
        }

        &__bulletgroup {
            display: flex;
            flex-direction: column;
        }

        &__bulletpoint1 {
            width: 40%;
            margin-bottom: 8px;
            padding: 0.2em;
        }

        &__bulletpoint2 {
            width: 40%;
            padding: 0.2em;
        }

        &__date {
            width: 15%;
            padding: 0.2em;
            padding-right: 0;
            border: 2px solid $LIGHT_GRAY;
            text-transform: uppercase;
        }

        &__integer {
            width: 20%;
            padding: 0.2em;
        }

        &__text {
            width: 40%;
            padding: 0.2em;
        }

        &__instructions {
            @extend .small-font;

            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}
