$block-class: 'survey-builder';

@at-root {
    .#{$block-class} {
        display: block;
        flex: 1;

        &__draft-warning {
            padding: 32px;
            color: $HEADER_FONT_COLOR;
            font-size: 18px;
            font-weight: 100;
        }

        &__contents {
            display: flex;

            &--published {
                opacity: 0.1;
                pointer-events: none;
            }

            &--draft {
                cursor: pointer;
            }
        }
    }
}
