$form-text: #333;
$block-class: 'survey-builder';

@at-root {
    .#{$block-class} {
        flex: 1;
        display: block;

        &__draft-warning {
            font-size: 18px;
            font-weight: 100;
            color: $form-text;
            padding: 32px;
        }

        &__contents {
            display: flex;

            &--published {
                opacity: 0.1;
                pointer-events: none;
            }

            &--draft {
                cursor: pointer;
            }
        }
    }
}
