$block-class: 'survey-builder';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: row;
        flex: 1;

        &__disabled {
            opacity: 0.2;
            pointer-events: none;
        }
    }
}
