$block-class: 'weighted-value-input';

@at-root {
    .#{$block-class} {
        @include text-input;

        width: 5%;
        text-align: center;
        color: $FONT_COLOR;
        outline: none;
        flex-shrink: 0;
    }
}
