$block-class: "weighted-value-input";

@at-root {
    .#{$block-class} {
        @include text-input;

        flex-shrink: 0;
        width: 5%;
        outline: none;
        color: $FONT_COLOR;
        text-align: center;
    }
}
