$block-class: 'weighted-value-input';

@at-root {
    .#{$block-class} {
        width: 5%;
        text-align: center;
        color: $lead-font-color;
        outline: none;
        flex-shrink: 0;

        &:focus,
        &:active {
            border: 2px solid $brand-color;
            outline: none;
        }
    }
}
