$block-class: 'profile-form';

@at-root {
    .#{$block-class} {
        &__header {
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
            display: flex;
            flex-direction: row;
            padding-top: 80px;
            padding-bottom: 8px;
            justify-content: space-between;
        }

        &__form-title {
            @extend .large-font;

            padding-top: 6px;
        }

        &__button {
            @extend .alt-button;

            &:hover {
                color: #fff;
                background: darken(#4eb276, 10);
                border-color: darken(#4eb276, 10);
            }
        }

        &__button-pw {
            @extend .alt-button;

            margin-top: 1em;
            margin-left: 0;
            margin-right: 0.5em;
            width: 25%;
            flex-direction: row;

            &:hover {
                color: #fff;
                background: darken(#4eb276, 10);
                border-color: darken(#4eb276, 10);
            }
        }

        &__user-info {
            display: flex;
            flex-direction: column;
            padding: 16px;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 24px;
        }

        &__section-header {
            font-size: 14px;
            color: $font-color;
        }

        &__name-row {
            display: inline-flex;
            flex-direction: row;
        }

        &__field {
            display: flex;
            flex-direction: column;

            &-label {
                color: $font-color;
                font-size: 12px;
                font-weight: 400;
                padding-top: 16px;

                &--disabled {
                    @extend .small-icon;

                    color: #d9d9d9 !important;
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }

            &-spaced {
                margin-left: 50px;
            }

            &-input {
                @extend .large-font;

                min-width: 100%;
                font-weight: 100;
                color: $header-font-color;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $border-color;
                flex-grow: 1;
                margin-right: 8px;

                &:focus {
                    outline: none;
                    border: 1px solid $brand-color;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }

                &--disabled {
                    @extend .large-font;

                    min-width: 100%;
                    font-weight: 100;
                    color: $header-font-color;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid $border-color;
                    flex-grow: 1;
                    margin-right: 8px;
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }
        }

        &__settings {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 16px;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 24px;
        }

        &__password {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 16px;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 24px;

            &-instruction {
                @extend .lead-font;

                margin-top: 0.5em;
                width: 70%;
            }

            &__confirm-label {
                display: flex;
                flex-direction: row;
            }
        }

        &__ui-message {
            &--error {
                color: $bad-color;
            }
        }

        &__textarea {
            @extend .lead-font;

            min-height: 100px;

            &:focus {
                outline: none;
                border: 1px solid $brand-color;
            }
        }

        &__checkbox {
            @extend .small-icon;

            font-size: 1.75em;
            color: darken(#4eb276, 10);

            &--hidden {
                display: none;
                cursor: not-allowed;
            }

            &--disabled {
                @extend .small-icon;

                font-size: 1.75em;
                margin-right: 10px;
                margin-bottom: 10px;
                color: #d9d9d9 !important;
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }
}
