$block-class: 'profile-form';

@mixin profile-form-sections {
    display: flex;
    margin-right: 20%;
    margin-bottom: 8px;
    margin-left: 20%;
}

@at-root {
    .#{$block-class} {
        &__header {
            @include profile-form-sections;

            flex-direction: row;
            justify-content: space-between;
            width: 60%;
            padding-top: 80px;
            padding-bottom: 8px;
        }

        &__form-title {
            @extend .large-font;

            padding-top: 8px;
        }

        &__button {
            @extend .secondary-button;
        }

        &__button-pw {
            @extend .secondary-button;

            margin-top: 16px;
        }

        &__user-info {
            @include profile-form-sections;

            flex-direction: column;
            padding: 16px;
        }

        &__section-header {
            @extend .med-font;
        }

        &__name-row {
            display: inline-flex;
            flex-direction: row;
        }

        &__field {
            display: flex;
            flex-direction: column;

            &-label {
                @extend .small-font;

                padding-top: 24px;
            }

            &-spaced {
                margin-left: 50px;
            }

            &-input {
                @include text-input;

                flex-grow: 1;
                min-width: 100%;
                margin-right: 8px;
            }
        }

        &__settings {
            @include profile-form-sections;

            flex-direction: column;
            padding: 16px;
        }

        &__password {
            @include profile-form-sections;

            flex-direction: column;
            padding: 16px;

            &-instruction {
                @extend .lead-font;

                width: 70%;
                margin-top: 0.5em;
            }

            &__confirm-label {
                display: flex;
                flex-direction: row;
            }
        }

        &__ui-message {
            &--error {
                color: $ERROR_RED;
            }
        }

        &__textarea {
            @include text-input;

            min-height: 150px;
        }

        &__checkbox {
            @extend .primary-icon;

            font-size: 1.75em;

            &--hidden {
                display: none;
                cursor: not-allowed;
            }

            &--disabled {
                color: $DISABLED_FONT_COLOR !important;
                font-size: 1.75em;
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }
}
