$block-class: 'profile-form';

@at-root {
    .#{$block-class} {
        &__header {
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
            display: flex;
            flex-direction: row;
            padding-top: 80px;
            padding-bottom: 20px;
            justify-content: space-between;
        }

        &__form-title {
            @extend .large-font;

            padding-top: 2px;
        }

        &__button {
            letter-spacing: 0.8px;
            margin-top: 16px;
            font-weight: 400;
            color: #7e848f;
            background-color: #fff;
            border-radius: 2px;
            padding: 2px;

            &:hover {
                background: darken(#4eb276, 10);
                border-color: darken(#4eb276, 10);
            }

            &:focus {
                background-color: #fff;
                border-radius: 2px;
            }
        }

        &__user-info {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 16px;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 24px;
        }

        &__section-header {
            font-size: 14px;
            color: $font-color;
        }

        &__name-row {
            display: inline-flex;
            flex-direction: row;
        }

        &__field {
            display: flex;
            flex-direction: column;

            &-label {
                color: $font-color;
                font-size: 12px;
                font-weight: 400;
                padding-top: 16px;
            }

            &-input {
                @extend .large-font;

                min-width: 100%;
                font-weight: 100;
                color: $header-font-color;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $border-color;
                flex-grow: 1;
                margin-right: 8px;

                &:focus {
                    outline: none;
                    border: 1px solid $brand-color;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }
            }
        }

        &__settings {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 16px;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 24px;
        }

        &__textarea {
            @extend .lead-font;

            min-height: 100px;

            &:focus {
                outline: none;
                border: 1px solid $brand-color;
            }
        }
    }
}
