$block-class: 'reset-password-panel';

@at-root {
    .#{$block-class} {
        background-color: #fff;
        padding: 16px;
        margin-bottom: 100px;
        margin-left: 20%;
        margin-right: 20%;

        &__button {
            @extend .secondary-button;

            border: 2px solid $header-font-color;
            margin-left: 0%;

            &:hover {
                color: #fff;
                background: darken(#4eb276, 10);
                border-color: darken(#4eb276, 10);
            }
        }

        &__title {
            font-size: 14px;
            color: $font-color;
            margin-bottom: 8px;
        }

        &__instructions {
            @extend .lead-font;

            margin-bottom: 16px;
        }
    }
}
