$block-class: 'reset-password-panel';

@at-root {
    .#{$block-class} {
        background-color: $WHITE;
        padding: 16px;
        margin-bottom: 100px;
        margin-left: 20%;
        margin-right: 20%;

        &__button {
            @extend .secondary-button;
        }

        &__title {
            @extend .med-font;

            margin-bottom: 8px;
        }

        &__instructions {
            @extend .lead-font;

            margin-bottom: 16px;
        }
    }
}
